{% macro getParamPath(item, items = {}, param) %}
	{% set items = items|merge([item.name]) %}
	{% if item.getParent() %}
		{{ _self.getParamPath(item.getParent(), items, param) }}
	{% else %}
		{{ items|reverse|slice(1)|join(':') }}:{{ param }}
	{% endif %}
{% endmacro %}