{% extends 'modules/admin/views/layouts/main.twig' %}

{% set title = this.setPageTitle(items.description) %}
{% set bread = this.setBreadCrumbs({ 'Настройки сайта': '/admin/cp'}) %}
{% block content %}
	{% import "modules/admin/views/config/_list.twig" as macros %}
	{% if app.user.hasFlash('success') %}
		<div class="alert alert-success fade in">
			<i class="icon-remove close" data-dismiss="alert"></i>
			{{ app.user.getFlash('success') }}
		</div>
	{% endif %}
	<form method="post">
		<div class="row">
			<div class="col-md-12">
				<!-- Tabs-->
				<div class="tabbable tabbable-custom tabs-left">
					<!-- Only required for left/right tabs -->
					<ul class="nav nav-tabs tabs-left">
						{% for item in items.getChild() %}
							<li class="{% if loop.index == 1 %}active{% endif %}"><a href="#{{ item.name }}" data-toggle="tab">{{ item.description }}</a></li>
						{% endfor %}
					</ul>
					<div class="tab-content">
						{% for item in items.getChild() %}
							<div class="tab-pane {% if loop.index == 1 %}active{% endif %}" id="{{ item.name }}" style="min-height: 118px; max-width: 99%">
								{% for param in item.configParams %}
									<div class="form-group">
										<div class="row">
											<div class="col-md-2">
												<label class="control-label" title="{{ macros.getParamPath(item, {}, param.name) | trim }}">{{ param.label|capitalize }}:</label>
											</div>
											<div class="col-md-7">
												{% if param.type == 'text' %}
													{{ html.activeTextField(param, '['~param.id~']value', {'class': 'form-control', 'placeholder': param.placeholder ?? ''}) | raw }}
												{% endif %}
												{% if param.type == 'textarea' %}
													{{ html.activeTextArea(param, '['~param.id~']value', {'class': 'form-control', 'placeholder': param.placeholder ?? ''}) | raw }}
												{% endif %}
												{% if param.type == 'checkbox' %}
													{{ html.activeCheckBox(param, '['~param.id~']value', {'class': ''}) | raw }}
												{% endif %}
											</div>
											<div class="col-md-3">
												{{ html.textField('patch', macros.getParamPath(item, {}, param.name) | trim, {'class': 'form-control', 'readonly': 'readonly'}) | raw }}
											</div>
										</div>
									</div>
								{% endfor %}
								{% if item.name == 'hotelsSearchSeo' %}
									<div class="row">
										<div class="col-md-6">
											<h4>Доступные пременные:</h4>
											<p>#city# - город</p>
											<p>#city|падеж# - город в падеже. Напр. #city|родительный#</p>
											<p>#minPrice# - минимальная цена в городе.</p>
										</div>
									</div>
								{% endif %}
								{% if item.name == 'hotelSeo' %}
									<div class="row">
										<div class="col-md-6">
											<h4>Доступные пременные:</h4>
											<p>#city# - город</p>
											<p>#city|падеж# - город в падеже. Напр. #city|родительный#</p>
											<p>#hotel# - отеля</p>
											<p>#hotel|падеж# - отеля в падеже. Напр. #hotel|родительный#</p>
											<p>#minPrice# - минимальная цена отеля из api островка.</p>
										</div>
									</div>
								{% endif %}
							</div>
						{% endfor %}
					</div>
				</div>
				<!--END TABS-->
			</div>
		</div>
		<div class="row">
			<div class="col-md-10"></div>
			<div class="col-md-2">
				<button class="btn btn-success save-params">Сохранить</button>
			</div>
		</div>
	</form>
{% endblock %}