{% extends 'modules/admin/views/layouts/main.twig' %}

{% set title = this.setPageTitle(title) %}
{% set bread = this.setBreadCrumbs({ 'Структура сайта': '/admin/pages/index', (title): ''}) %}
{% block content %}
	<div class="row">
		<div class="col-md-12">
			{% autoescape false %}
				{{ C.Html.errorSummary(page) }}
				{{ C.Html.statefulForm('', 'post', { 'class': 'form-horizontal', 'enctype': 'multipart/form-data'}) }}
					<div class="form-group {{ page.getError('active') ? 'has-error' }}">
						{{ C.Html.activeLabel(page, 'active', { 'class': 'col-md-2 control-label' }) }}
						<div class="col-md-6">
							{{ C.Html.activeCheckBox(page, 'active', { 'class': '' }) }}
						</div>
					</div>
					<div class="form-group {{ page.getError('showDeliveryTypeOnMainPage') ? 'has-error' }}">
						{{ C.Html.activeLabel(page, 'showDeliveryTypeOnMainPage', { 'class': 'col-md-2 control-label' }) }}
						<div class="col-md-6">
							{{ C.Html.activeCheckBox(page, 'showDeliveryTypeOnMainPage', { 'class': '' }) }}
						</div>
					</div>
					<div class="form-group {{ page.getError('templateID') ? 'has-error' }}">
						{{ C.Html.activeLabel(page, 'templateID', { 'class': 'col-md-2 control-label' }) }}
						<div class="col-md-6">
							{{ C.Html.activeDropDownList(page, 'templateID',
								C.Html.listData(templates, 'id', 'name'),
								{ 'class': 'form-control' })
							}}
						</div>
					</div>
					<div class="form-group {{ page.getError('title') ? 'has-error' }}">
						{{ C.Html.activeLabel(page, 'title', { 'class': 'col-md-2 control-label' }) }}
						<div class="col-md-6">
							{{ C.Html.activeTextField(page, 'title', { 'class': 'form-control' }) }}
						</div>
					</div>
					<div class="form-group {{ page.getError('menuTitle') ? 'has-error' }}">
						{{ C.Html.activeLabel(page, 'menuTitle', { 'class': 'col-md-2 control-label' }) }}
						<div class="col-md-6">
							{{ C.Html.activeTextField(page, 'menuTitle', { 'class': 'form-control' }) }}
						</div>
					</div>
					<div class="form-group {{ page.getError('description') ? 'has-error' }}">
						{{ C.Html.activeLabel(page, 'description', { 'class': 'col-md-2 control-label' }) }}
						<div class="col-md-6">
							{{ C.Html.activeTextArea(page, 'description', { 'class': 'form-control', 'rows': 3, 'cols': 5 }) }}
						</div>
					</div>
					<div class="form-group {{ page.getError('metaTitle') ? 'has-error' }}">
						{{ C.Html.activeLabel(page, 'metaTitle', { 'class': 'col-md-2 control-label' }) }}
						<div class="col-md-6">
							{{ C.Html.activeTextField(page, 'metaTitle', { 'class': 'form-control' }) }}
						</div>
					</div>
				<div class="form-group {{ page.getError('seoKeyWords') ? 'has-error' }}">
					{{ C.Html.activeLabel(page, 'seoKeyWords', { 'class': 'col-md-2 control-label' }) }}
					<div class="col-md-6">
						{{ C.Html.activeTextField(page, 'seoKeyWords', { 'class': 'form-control' }) }}
					</div>
				</div>
					{#<div class="form-group {{ page.getError('metaDescription') ? 'has-error' }}">#}
						{#{{ C.Html.activeLabel(page, 'metaDescription', { 'class': 'col-md-2 control-label' }) }}#}
						{#<div class="col-md-6">#}
							{#{{ C.Html.activeTextArea(page, 'metaDescription', { 'class': 'form-control', 'rows': 3, 'cols': 5 }) }}#}
						{#</div>#}
					{#</div>#}
					<div class="form-group row {{ page.getError('previewImageFile') ? 'has-error' }}">
						{{ C.Html.activeLabel(page, 'previewImageFile', { 'class': 'col-md-2 control-label' }) }}
						<div class="col-md-6">
							{{ C.Html.activeFileField(page, 'previewImageFile', { 'class': 'form-control' }) }}
							{% if not page.hasPreviewImage() %}
								<div>
									<div class="clearfix">
										{{ C.Html.image(page.getPreviewImage(), '', { 'class': 'img-thumbnail', 'style': 'margin: 15px 0 5px; width: 150px;' })|raw }}
									</div>
								</div>
							{% endif %}
						</div>
					</div>
					<div class="form-group {{ page.getError('slug') ? 'has-error' }}">
						{{ C.Html.activeLabel(page, 'url', { 'class': 'col-md-2 control-label' }) }}
						<div class="col-md-6">
							<div class="input-group">
								<span class="input-group-btn">
									<button class="btn btn-default" type="button">{{ app.controller.createAbsoluteUrl('/') }}{{ page.parentUrl }}</button>
								</span>
								{{ C.Html.activeTextField(page, 'slug', { 'class': 'form-control' }) }}
							</div>
						</div>
					</div>
					<div class="form-group {{ page.getError('content') ? 'has-error' }}">
						{{ C.Html.activeLabel(page, 'content', { 'class': 'col-md-2 control-label' }) }}
						<div class="col-md-10">
							{{ app.controller.widget('CKEditor', {
								'model': page,
								'attribute': 'content',
								'language': 'ru',
								'editorTemplate': 'full',
							}, true) | raw }}
						</div>
					</div>
					<div class="form-group {{ page.getError('route') ? 'has-error' }}">
						{{ C.Html.activeLabel(page, 'route', { 'class': 'col-md-2 control-label' }) }}
						<div class="col-md-6">
							{{ C.Html.activeTextField(page, 'route', { 'class': 'form-control' }) }}
						</div>
					</div>
					<div class="form-group {{ page.getError('menuModel') ? 'has-error' }}">
						{{ C.Html.activeLabel(page, 'menuModel', { 'class': 'col-md-2 control-label' }) }}
						<div class="col-md-6">
							{{ C.Html.activeTextField(page, 'menuModel', { 'class': 'form-control' }) }}
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-6 col-md-offset-2">
							{{ C.Html.submitButton('Сохранить', { 'class': 'btn btn-primary' }) }}
						</div>
					</div>
				{{ C.Html.endForm() }}
			{% endautoescape %}
		</div>
	</div>
{% endblock %}
