{% extends 'modules/admin/views/layouts/main.twig' %}

{% set title = this.setPageTitle(category.name) %}
{% set bread = this.setBreadCrumbs(
	{
		'Слайдеры': '/admin/slider'
	}) %}

{% block content %}
	<table class="table table-hover table-striped table-bordered table-highlight-head">
		<thead>
		<tr>
			<th>Название</th>
			<th>Шаблон</th>
			<th>Пизиция</th>
			<th>Активен</th>
			<th>Действие <a href="{{ app.createUrl('/admin/slider/newItem', { id: category.id }) }}" class="btn btn-xs"><i class="icon-plus"></i></a></th>
		</tr>
		</thead>
		<tbody>
		{% for item in category.sliderItems %}
			<tr>
				<td>{{ item.title }}</td>
				<td>{{ item.template }}</td>
				<td>{{ item.position }}</td>
				<td>{{ item.active }}</td>
				<td>
					<a href="{{ app.createUrl('/admin/slider/editItem', { id: item.id }) }}" class="btn btn-xs"><i class="icon-edit"></i></a>
					<a href="{{ app.createUrl('/admin/slider/deleteItem', { id: item.id }) }}" class="btn btn-xs"><i class="icon-remove"></i></a>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}