{% extends 'modules/admin/views/layouts/main.twig' %}

{% set title = this.setPageTitle('Редактирование') %}
{% set bread = this.setBreadCrumbs({ 'Категория': '/admin/slider/category/'~categoryId, 'Редактирование слайда': '/' ~ app.request.getPathInfo() }) %}

{% block content %}
	<script type="text/javascript">
		var deleteImage = function(id, element) {
			if (confirm('Вы действительно хотите удалить изображение?')) {
				$.get('/admin/slider/deleteImage?id=' + parseInt(id), function(data) {
					$(element).parent().remove();
				});
			}
		}
	</script>
	{% autoescape false %}
		{% if app.user.hasFlash('success') %}
			<div class="alert alert-success">
				{{ app.user.getFlash('success') }}
			</div>
		{% endif %}
		{% if item.hasErrors() %}
			<div class="alert alert-danger">
				{{ C.Html.errorSummary(item) }}
			</div>
		{% endif %}
		{{ C.Html.form('', 'post', { 'class': 'form-horizontal', 'enctype': 'multipart/form-data', 'style': 'margin: 0' }) }}
		<div class="row">
			<div class="col-md-12">
				<div class="widget box">
					<div class="widget-header">
						{#<h4><i class="icon-reorder"></i> Основное</h4>#}
					</div>
					{% include 'modules/admin/views/slider/forms/_'~category.type~'.twig' with {'item': item} %}
				</div>
			</div>
		</div>
		{{ C.Html.submitButton('Сохранить', { 'class': 'btn btn-primary js-catalog-save-button' }) }}
		{{ C.Html.endForm() }}
	{% endautoescape %}


{% endblock %}
{% block js %}

{% endblock %}
