{% extends 'modules/admin/views/layouts/main.twig' %}

{% set title = this.setPageTitle(category.name) %}
{% set bread = this.setBreadCrumbs({ 'Слайдеры': '' }) %}

{% block content %}
	<table class="table table-hover table-striped table-bordered table-highlight-head">
		<thead>
		<tr>
			<th>Категория</th>
			<th>Действие</th>
		</tr>
		</thead>
		<tbody>
		{% for item in categories %}
			<tr>
				<td>{{ item.name }}</td>
				<td>
					<a href="{{ app.createUrl('/admin/slider/category', { id: item.id }) }}" class="btn btn-xs"><i class="icon-edit"></i></a>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}