<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBdSSxYgVWetCKIBLGylOR2DFD5BIWNus&callback=&"></script>
<script src="/js/libs/select2.min.js"></script>
<script src="/js/libs/jquery.inputmask.bundle.min.js"></script>
<script src="/js/libs/moment-with-locales.js"></script>
<script src="/js/libs/ion.calendar.js"></script>
<script src="/js/libs/slick.js"></script>
<script src="/js/libs/jquery.validate.js"></script>
<script src="/js/libs/bootstrap/js/dist/util.js"></script>
<script src="/js/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="/js/libs/bootstrap/js/dist/collapse.js"></script>
<script src="/js/libs/helpers/resizer.js"></script>
<script src="/js/libs/helpers/valid.js"></script>
<script src="/js/main.js"></script>