{% autoescape false %}
	{% if app.user.hasFlash('success') %}
		<div class="alert alert-success">
			{{ app.user.getFlash('success') }}
		</div>
	{% endif %}
	{% if document.hasErrors() %}
		<div class="alert alert-danger">
			{{ C.Html.errorSummary(document) }}
		</div>
	{% endif %}

	{{ C.Html.form('', 'post', { 'class': 'form-horizontal', 'enctype': 'multipart/form-data', 'style': 'margin: 0' }) }}
		<div class="row">
			<div class="col-md-12">
				<div class="widget box">
					<div class="widget-header">
						<h4><i class="icon-reorder"></i> Основное</h4>
					</div>
					<div class="widget-content">
						<div class="form-group {{ document.getError('active') ? 'has-error' }}">
							{{ C.Html.activeLabel(document, 'active', { 'class': 'col-md-2 control-label' }) }}
							<div class="col-md-6">
								{{ C.Html.activeCheckbox(document, 'active') }}
							</div>
						</div>
						<div class="form-group {{ document.getError('position') ? 'has-error' }}">
							{{ C.Html.activeLabel(document, 'position', { 'class': 'col-md-2 control-label' }) }}
							<div class="col-md-6">
								{{ C.Html.activeTextField(document, 'position', { 'class': 'form-control' }) }}
							</div>
						</div>
						<div class="form-group {{ document.getError('name') ? 'has-error' }}">
							{{ C.Html.activeLabel(document, 'name', { 'class': 'col-md-2 control-label' }) }}
							<div class="col-md-6">
								{{ C.Html.activeTextArea(document, 'name', { 'class': 'form-control' }) }}
							</div>
						</div>
						<div class="form-group {{ document.getError('fileTmp') ? 'has-error' }}">
							{{ C.Html.activeLabel(document, 'fileTmp', { 'class': 'col-md-2 control-label' }) }}
							<div class="col-md-6">
								{{ C.Html.activeFileField(document, 'fileTmp', { 'class': 'form-control' }) }}
								{% if document.name %}
									<a href="{{ document.getFile() }}">{{ document.name }}</a>
								{% endif %}
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		{{ C.Html.submitButton('Сохранить', { 'class': 'btn btn-primary' }) }}
	{{ C.Html.endForm() }}
{% endautoescape %}