{% extends 'modules/admin/views/layouts/main.twig' %}

{% set title = this.setPageTitle('Документы') %}
{% set bread = this.setBreadCrumbs({ 'Документы': '/admin/documents' }) %}

{% block content %}
	<a href="{{ this.createUrl('/admin/documents/create') }}" class="btn btn-success">Добавить</a>
	<br />
	<br />

	<table class="table table-hover table-striped table-bordered table-highlight-head">
		<thead>
			<tr>
				<th width="80">#</th>
				<th width="80">Активен</th>
				<th width="80">Позиция</th>
				<th>Файл</th>
				<th width="125">Действие</th>
			</tr>
		</thead>
		<tbody>
			{% for item in documents %}
				<tr>
					<td>{{ item.id }}</td>
					<td>{{ item.active }}</td>
					<td>{{ item.position }}</td>
					<td><a href="{{ item.getFile() }}">{{ item.name }}</a></td>
					<td>
						<a href="{{ app.createUrl('/admin/documents/update', { id: item.id }) }}" class="btn btn-xs"><i class="icon-edit"></i></a>
						<a href="{{ app.createUrl('/admin/documents/delete', { id: item.id }) }}" class="btn btn-xs" onclick="return confirm('Вы действительно хотите удалить запись?');"><i class="icon-trash"></i></a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}