{% extends 'modules/admin/views/layouts/main.twig' %}

{% set title = this.setPageTitle('Редактирование документа') %}
{% set bread = this.setBreadCrumbs({ 'Документы': '/admin/documents', 'Редактирование документа': '/' ~ app.request.getPathInfo() }) %}

{% block content %}
	{% include 'modules/admin/views/documents/_form.twig' with {
		'document': document,
	} only %}
{% endblock %}