{% extends 'modules/admin/views/layouts/main.twig' %}

{% set title = this.setPageTitle('Добавить проект') %}
{% set bread = this.setBreadCrumbs({ 'Проекты': '/admin/projects', 'Добавить проект': '' }) %}

{% block content %}
	{% autoescape false %}
		{% if app.user.hasFlash('success') %}
			<div class="alert alert-success">
				{{ app.user.getFlash('success') }}
			</div>
		{% endif %}
		{% if item.hasErrors() %}
			<div class="alert alert-danger">
				{{ C.Html.errorSummary(item) }}
			</div>
		{% endif %}
		{{ C.Html.form('', 'post', { 'class': 'form-horizontal', 'enctype': 'multipart/form-data', 'style': 'margin: 0' }) }}
		<div class="row">
			<div class="col-md-12">
				<div class="widget box">
					<div class="widget-header">
					</div>
					<div class="widget-content">
						<div class="form-group {{ item.getError('active') ? 'has-error' }}">
							{{ C.Html.activeLabel(item, 'active', { 'class': 'col-md-2 control-label' }) }}
							<div class="col-md-6">
								{{ C.Html.activeCheckBox(item, 'active', {}) }}
							</div>
						</div>
						<div class="form-group {{ item.getError('position') ? 'has-error' }}">
							{{ C.Html.activeLabel(item, 'position', { 'class': 'col-md-2 control-label' }) }}
							<div class="col-md-6">
								{{ C.Html.activeTextField(item, 'position', {}) }}
							</div>
						</div>
						<div class="form-group {{ item.getError('date') ? 'has-error' }}">
							{{ C.Html.activeLabel(item, 'date', { 'class': 'col-md-2 control-label' }) }}
							<div class="col-md-6">
								{{ C.Html.activeTextField(item, 'date', { 'class': 'form-control datepicker' }) }}
							</div>
						</div>
						<div class="form-group {{ item.getError('regionId') ? 'has-error' }}">
							{{ C.Html.activeLabel(item, 'regionId', { 'class': 'col-md-2 control-label' }) }}
							<div class="col-md-6">
								{{ C.Html.activeDropDownList(item, 'regionId', item.regionList, { 'class': 'form-control datepicker' }) }}
							</div>
						</div>
						<div class="form-group {{ item.getError('title') ? 'has-error' }}">
							{{ C.Html.activeLabel(item, 'title', { 'class': 'col-md-2 control-label' }) }}
							<div class="col-md-6">
								{{ C.Html.activeTextField(item, 'title', { 'class': 'form-control' }) }}
							</div>
						</div>
						<div class="form-group {{ item.getError('slug') ? 'has-error' }}">
							{{ C.Html.activeLabel(item, 'slug', { 'class': 'col-md-2 control-label' }) }}
							<div class="col-md-6">
								{{ C.Html.activeTextField(item, 'slug', { 'class': 'form-control' }) }}
							</div>
						</div>
						<div class="form-group row {{ item.getError('tmpImage') ? 'has-error' }}">
							{{ C.Html.activeLabel(item, 'tmpImage', { 'class': 'col-md-2 control-label' }) }}
							<div class="col-md-6">
								{{ C.Html.activeFileField(item, 'tmpImage', { 'class': 'form-control' }) }}
								{% if not item.hasImage() %}
									<div>
										<div class="clearfix">
											{{ C.Html.image(item.getImage(), '', { 'class': 'img-thumbnail', 'style': 'margin: 15px 0 5px; width: 150px;' })|raw }}
										</div>
									</div>
								{% endif %}
							</div>
						</div>
						<div class="form-group {{ item.getError('goods') ? 'has-error' }}">
							{{ C.Html.activeLabel(item, 'goods', { 'class': 'col-md-2 control-label' }) }}
							<div class="col-md-6">
								{{ C.Html.activeTextField(item, 'goods', { 'class': 'form-control' }) }}
							</div>
						</div>
						<div class="form-group {{ item.getError('from') ? 'has-error' }}">
							{{ C.Html.activeLabel(item, 'from', { 'class': 'col-md-2 control-label' }) }}
							<div class="col-md-6">
								{{ C.Html.activeTextField(item, 'from', { 'class': 'form-control' }) }}
							</div>
						</div>
						<div class="form-group {{ item.getError('to') ? 'has-error' }}">
							{{ C.Html.activeLabel(item, 'to', { 'class': 'col-md-2 control-label' }) }}
							<div class="col-md-6">
								{{ C.Html.activeTextField(item, 'to', { 'class': 'form-control' }) }}
							</div>
						</div>
						<div class="form-group {{ item.getError('customer') ? 'has-error' }}">
							{{ C.Html.activeLabel(item, 'customer', { 'class': 'col-md-2 control-label' }) }}
							<div class="col-md-6">
								{{ C.Html.activeTextField(item, 'customer', { 'class': 'form-control' }) }}
							</div>
						</div>
						<div class="form-group {{ item.getError('features') ? 'has-error' }}">
							{{ C.Html.activeLabel(item, 'features', { 'class': 'col-md-2 control-label' }) }}
							<div class="col-md-6">
								{{ C.Html.activeTextField(item, 'features', { 'class': 'form-control' }) }}
							</div>
						</div>
						<div class="form-group {{ item.getError('description') ? 'has-error' }}">
							{{ C.Html.activeLabel(item, 'description', { 'class': 'col-md-2 control-label' }) }}
							<div class="col-md-10">
								{{ app.controller.widget('CKEditor', {
									'model': item,
									'attribute': 'description',
									'language': 'ru',
									'editorTemplate': 'full',
								}, true) | raw }}
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		{{ C.Html.submitButton('Сохранить', { 'class': 'btn btn-primary' }) }}
		{{ C.Html.endForm() }}
	{% endautoescape %}


{% endblock %}
