{% extends 'modules/admin/views/layouts/main.twig' %}

{% set title = this.setPageTitle('Проекты') %}
{% set bread = this.setBreadCrumbs({ 'Проекты': '' }) %}

{% block content %}
	<a class="btn btn-default" href="/admin/project/update">Добавить проект</a></br></br>
	<table class="table table-hover table-striped table-bordered table-highlight-head">
		<thead>
		<tr>
			<th>Позиция</th>
			<th>Проект</th>
			<th>Дата</th>
			<th>Активен</th>
			<th>Действие</th>
		</tr>
		</thead>
		<tbody>
			{% for project in projects %}
				<tr>
					<td>{{ project.position }}</td>
					<td>{{ project.title }}</td>
					<td>{{ project.date }}</td>
					<td>{% if project.active %}Да{% else %}Нет{% endif %}</td>
					<td>
						<a href="{{ app.createUrl('/admin/projects/update', { id: project.id }) }}" class="btn btn-xs"><i class="icon-edit"></i></a>
						<a href="{{ app.createUrl('/admin/projects/delete', { id: project.id }) }}" class="btn btn-xs" onclick="return confirm('Вы действительно хотите удалить запись?');"><i class="icon-trash"></i></a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}