{% autoescape false %}
	{% if app.user.hasFlash('success') %}
		<div class="alert alert-success">
			{{ app.user.getFlash('success') }}
		</div>
	{% endif %}
	{% if image.hasErrors() %}
		<div class="alert alert-danger">
			{{ C.Html.errorSummary(image) }}
		</div>
	{% endif %}

	{{ C.Html.form('', 'post', { 'class': 'form-horizontal', 'enctype': 'multipart/form-data', 'style': 'margin: 0' }) }}
		<div class="row">
			<div class="col-md-12">
				<div class="widget box">
					<div class="widget-header">
						<h4><i class="icon-reorder"></i> Основное</h4>
					</div>
					<div class="widget-content">
						<div class="form-group {{ image.getError('active') ? 'has-error' }}">
							{{ C.Html.activeLabel(image, 'active', { 'class': 'col-md-2 control-label' }) }}
							<div class="col-md-6">
								{{ C.Html.activeCheckbox(image, 'active') }}
							</div>
						</div>
						<div class="form-group {{ image.getError('position') ? 'has-error' }}">
							{{ C.Html.activeLabel(image, 'position', { 'class': 'col-md-2 control-label' }) }}
							<div class="col-md-6">
								{{ C.Html.activeTextField(image, 'position', { 'class': 'form-control' }) }}
							</div>
						</div>
						<div class="form-group {{ image.getError('image') ? 'has-error' }}">
							{{ C.Html.activeLabel(image, 'image', { 'class': 'col-md-2 control-label' }) }}
							<div class="col-md-6">
								{{ C.Html.activeFileField(image, 'image', { 'class': 'form-control' }) }}
								{% if image.id %}
									<div>
										<div class="clearfix">
											{{ C.Html.image(image.getSmallImage(), '', { 'class': 'img-thumbnail', 'style': 'margin: 15px 0 5px; width: 250px;' })|raw }}
										</div>
									</div>
								{% endif %}
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		{{ C.Html.submitButton('Сохранить', { 'class': 'btn btn-primary' }) }}
	{{ C.Html.endForm() }}
{% endautoescape %}