{% extends 'modules/admin/views/layouts/main.twig' %}

{% set title = this.setPageTitle('Галерея') %}
{% set bread = this.setBreadCrumbs({ 'Галерея': '/admin/gallery' }) %}

{% block content %}
	<a href="{{ this.createUrl('/admin/gallery/create') }}" class="btn btn-success">Добавить</a>
	<br />
	<br />

	<table class="table table-hover table-striped table-bordered table-highlight-head">
		<thead>
			<tr>
				<th width="80">#</th>
				<th width="80">Активен</th>
				<th width="80">Позиция</th>
				<th>Изображение</th>
				<th width="125">Действие</th>
			</tr>
		</thead>
		<tbody>
			{% for item in images %}
				<tr>
					<td>{{ item.id }}</td>
					<td>{{ item.active }}</td>
					<td>{{ item.position }}</td>
					<td>
						<div>
							<div class="clearfix">
								{{ C.Html.image(item.getSmallImage(), '', { 'class': 'img-thumbnail', 'style': 'margin: 15px 0 5px; width: 100px;' })|raw }}
							</div>
						</div>
					</td>
					<td>
						<a href="{{ app.createUrl('/admin/gallery/update', { id: item.id }) }}" class="btn btn-xs"><i class="icon-edit"></i></a>
						<a href="{{ app.createUrl('/admin/gallery/delete', { id: item.id }) }}" class="btn btn-xs" onclick="return confirm('Вы действительно хотите удалить запись?');"><i class="icon-trash"></i></a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}