{% extends '/views/base.twig' %}
{% import '/views/macros/breadcrumbs.twig' as card %}
{% import '/views/macros/section-title.twig' as title %}
{% import '/views/macros/advantage-item.twig' as item %}
{% import '/views/layouts/section-about.twig' as about %}
{% block content %}

<div class="page-wrapper">

	{{ card.breadcrumbs({
		list: [
			{
				caption: 'Главная',
				url: '/'
			},
			{
				caption: page.title,
				url: 'javascript:;'
			}
		]
	}) }}

	{{ about.section_about({
		title: page.title,
		img: '/img/about/about.png'
	}) }}

	{% include '/views/layouts/section-about.twig' %}

	<section  class="section-advantages ">
		<div class="container">
			{{ title.section_title({
                    title: 'Основные принципы компании'
                }) }}
			<div id="#mobileAccordion" class="section-advantages__wrap">
				{{ item.advantage_item({
					title: 'Ответственность',
					descr: 'Мы осознаем всю ответственность, возложенную на нас клиентами, при перевозке груза. За каждый груз мы несем полную финансовую и моральную ответственность.',
					custom_id: 'advantages-one',
					custom_class: 'section-text'
				}) }}
				{{ item.advantage_item({
					title: 'Порядочность',
					descr: 'Основа основ любых взаимоотношений. Корректны в расчетах. Никаких хитростей, срывов сроков поставки и скрытых платежей.',
					custom_id: 'advantages-two',
					custom_class: 'section-text'
				}) }}
				{{ item.advantage_item({
					title: 'Уважение',
					descr: 'Мы уважаем наших клиентов и бережем наши отношения. Всегда приятно иметь дело с достойными людьми.',
					custom_id: 'advantages-three',
					custom_class: 'section-text'
				}) }}
				{{ item.advantage_item({
					title: 'Внимательность',
					descr: 'Максимально внимательное отношение к каждой перевозке. Отслеживание дат перегрузок, совмещение расписаний движений транспорта позволяют избежать лишних затрат.',
					custom_id: 'advantages-four',
					custom_class: 'section-text'
				}) }}
			</div>
		</div>
	</section>
	{% include '/views/layouts/section-partners.twig' %}
</div>

{% endblock %}