{% extends '/views/layouts/main.twig' %}

{% import "/views/macros/input.twig" as input %}

{% set breadcrumbs = [
	{
		link: '/',
		text: 'Главная'
	},
	{
		active: true,
		text: 'Расчет опалубки'
	}
] %}

{% block content %}

	<section class="calculator page">
		<div class="container">
			{% include "/views/modules/breadcrumbs.twig" %}
			<div class="row">
				<div class="col-12 col-md-8">
					<div class="page__intro">
						<h1 class="page__title h1">Расчет опалубки</h1>
						<p class="page__text">
							Заполнив и&nbsp;отправив нам нижеприведенную форму, Вы&nbsp;сможете получить от&nbsp;нас
							детальный расчет опалубки. Поля: &laquo;Имя&raquo;, &laquo;Email&raquo;, &laquo;Контактный
							телефон&raquo; и&nbsp;&laquo;Запрос&raquo;&nbsp;&mdash; обязательны для заполнения.
							В&nbsp;поле
							&laquo;Запрос&raquo;, пожалуйста, опишите подробности необходимые для расчета опалубки.
							Также,
							Вы&nbsp;можете приложить файл этому к&nbsp;запросу (допустимые форматы: rar, zip, doc, xls,
							txt,
							gif, jpg, png, bmp, docx, pdf, xlsx).
						</p>
						<p class="page__text">
							После того, как мы&nbsp;получим от&nbsp;Вас запрос на&nbsp;расчет опалубки, наши специалисты
							свяжутся с&nbsp;Вами в&nbsp;кратчайшее время.
						</p>
					</div>

					<form action="{{ app.createUrl('/callback') }}" method="post" id="calculatorForm" class="calculator__form form">
						<div class="form-group">
							{{input.input({type: 'text', placeholder: 'Введите имя', name: 'CallbackForm[name]', required: 'required'})}}
						</div>
						<div class="form-group">
							{{input.input({type: 'tel', placeholder: 'Введите телефон', name: 'CallbackForm[phone]', mod: 'js-phone', required: 'required'})}}
						</div>
						<div class="form-group">
							{{input.input({type: 'email', placeholder: 'Введите e-mail', name: 'CallbackForm[email]', required: 'required'})}}
						</div>
						<div class="form-group">
							{{input.textarea({placeholder: 'Комментарий', name: 'CallbackForm[comment]'})}}
						</div>
						<input type="hidden" name="CallbackForm[type]" value="calc">
						<input value="" type="hidden" name="g-recaptcha-response" class="input page-form__input token g-recaptcha">
						<div class="form-group calculator__form-group-row">
							<label for="calculatorFile" class="input-file">
								<input type="file" name="CallbackForm[file]" id="calculatorFile">
								<svg class="icon-svg">
									<use xlink:href="/img/sprite.svg#icon-clip" />
								</svg>
								Прикрепить файл
							</label>
							<button type="submit" class="calculator__form-submit btn btn-dark">Отправить</button>
						</div>
						<div class="form-group calculator__form-group-row">
							<span id="fileName" style="margin-top: -30px;">Прикрепить файл</span>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}