{% extends '/views/base.twig' %}
{% import '/views/macros/breadcrumbs.twig' as card %}
{% import '/views/macros/section-title.twig' as title %}
{% import '/views/layouts/section-contacts.twig' as contacts %}
{% block content %}

	<div class="page-wrapper">

		{{ card.breadcrumbs({
			list: [
				{
					caption: 'Главная',
					url: '/'
				},
				{
					caption: 'Контакты',
					url: 'javascript:;'
				}
			]
		}) }}
		{{ contacts.section_contacts({
			title1: 'Контакты',
			title2: 'Реквизиты компании'
		}) }}

	</div>



{% endblock %}