{% extends '/views/base.twig' %}
{% import '/views/macros/breadcrumbs.twig' as card %}
{% import '/views/layouts/card-banner.twig' as banner %}
{% import '/views/layouts/section-calculation.twig' as calculation %}
{% import '/views/macros/section-title.twig' as title %}
{% import '/views/macros/advantage-item.twig' as item %}
{% import '/views/macros/services-item.twig' as direction %}
{% block content %}

    {{ banner.card_banner({
        custom_class: 'card-banner card-banner--delivery',
        bg: '/img/card/delivery-page-bg.png',
        title: 'география перевозок',
        text: 'География перевозок компании Север обширна и охватывает всю Россию, но основное направление работы нашей компании - это ее северная часть: Чукотский АО, республика САХА Якутия, Магаданская область, Ямало-Ненецикй АО, Красноярский Край, Таймырский АО, Архнгельская область, Ненецкий АО Мурманская область, Республика Коми'
    }) }}

    {{ card.breadcrumbs({
        list: [
            {
                caption: 'Главная',
                url: '/'
            },
            {
                caption: 'География перевозок',
                url: 'javascript:;'
            }
        ]
    }) }}

    <section class="delivery-map">
        <div class="container">
            <h2 class="h2 section-title">Карта</h2>
            <div id="delivery-map"></div>
        </div>
    </section>

    <section class="section-directions">
        <div class="container">
            <h2 class="h2 section-title">Направления перевозок</h2>
        </div>
        <div class="section-directions__wrap _show-all">
	        {% for ch in app.controller.getDirections(20, true, 2) %}
		        {{
		        direction.services_item({
			        img: ch.getPreviewImage(),
			        title: ch.title,
			        url: ch.getUrl()
		        })
		        }}
	        {% endfor %}
        </div>
    </section>


{% endblock %}