{% extends 'views/layouts/main.twig' %}

{% block content %}
	<section class="faq">
		<div class="container">
			<div class="faq__breadcrumb">
				<nav class="breadcrumb">
					<ol class="breadcrumb__items">
						<li class="breadcrumb__item">
							<a class="breadcrumb__link" href="/">
								<span class="breadcrumb__text">Главная</span>
							</a>
						</li>
						<li class="breadcrumb__item _active">
							<span class="breadcrumb__text">{{ page.title }}</span>
						</li>
					</ol>
				</nav>

			</div>
			<div class="row">
				<h1 class="faq__title col-xs-12">{{ page.title }}</h1>
				{{ page.content | raw }}
			</div>
		</div>
	</section>
{% endblock %}