{% extends '/views/base.twig' %}
{% import '/views/macros/breadcrumbs.twig' as card %}
{% import '/views/layouts/section-about.twig' as about %}
{% block content %}

	<div class="page-wrapper">

		{{ card.breadcrumbs({
			list: [
				{
					caption: 'Главная',
					url: '/'
				},
				{
					caption: 'Cтоимость доставки',
					url: 'javascript:;'
				}
			]
		}) }}
		{% include '/views/layouts/section-price.twig' %}

	</div>

{% endblock %}