{% extends '/views/base.twig' %}
{% import '/views/macros/breadcrumbs.twig' as card %}
{% import '/views/layouts/section-about.twig' as about %}
{% block content %}
	<div class="page-wrapper">
		{{ card.breadcrumbs({
			list: [
				{
					caption: 'Главная',
					url: '/'
				},
				{
					caption: page.parent().find().title,
					url: page.parent().find().getUrl
				},
				{
					caption: this.pageTitle,
					url: 'javascript:;'
				}
			]
		}) }}

		{{ about.section_about({
			title: page.title,
			img: '/img/about/about.png',
			list: true,
			content: page.content
		}) }}

	</div>
{% endblock %}