{% extends '../base.twig' %}
{% import '../macros/breadcrumbs.twig' as card %}
{% import '../layouts/card-banner.twig' as banner %}
{% import '../macros/services-item.twig' as direction %}
{% block title %}Доставка{% endblock %}
{% block content %}

    {{ banner.card_banner({
        custom_class: 'card-banner card-banner--delivery',
        bg: '/img/card/3.png',
        title: 'география перевозок',
        text: 'География перевозок компании Север обширна и охватывает всю Россию, но основное направление работы нашей компании - это ее северная часть: Чукотский АО, республика САХА Якутия, Магаданская область, Ямало-Ненецикй АО, Красноярский Край, Таймырский АО, Архнгельская область, Ненецкий АО Мурманская область, Республика Коми'
    }) }}

    {{ card.breadcrumbs({
        list: [
            {
                caption: 'Главная'
            },
            {
                caption: 'География перевозок'
            }
        ]
    }) }}

    <section class="delivery-map">
        <div class="container">
            <h2 class="h2 section-title">Карта</h2>
            <div id="delivery-map"></div>
        </div>
    </section>

    <section class="section-directions">
        <div class="container">
            <h2 class="h2 section-title">Направления перевозок</h2>
        </div>
        <div class="section-directions__wrap">
        {{ direction.services_item({
          img: '/img/services/5.png',
          title: 'Якутия'
          }) }}
          {{ direction.services_item({
              img: '/img/services/6.png',
              title: 'Чукотка'
          }) }}
          {{ direction.services_item({
              img: '/img/services/7.png',
              title: 'Камчатка'
          }) }}
          {{ direction.services_item({
              img: '/img/services/8.png',
              title: 'Курильские острова'
          }) }}
          {{ direction.services_item({
              img: '/img/services/9.png',
              title: 'Тикси'
          }) }}
          {{ direction.services_item({
              img: '/img/services/10.png',
              title: 'Сахалин'
          }) }}
          {{ direction.services_item({
              img: '/img/services/11.png',
              title: 'Норильск и НПР'
          }) }}
          {{ direction.services_item({
              img: '/img/services/15.png',
              title: 'Мыс каменный'
          }) }}
          {{ direction.services_item({
              img: '/img/services/16.png',
              title: 'Магаданская область'
          }) }}
          {{ direction.services_item({
              img: '/img/services/17.png',
              title: 'Новая Чара'
          }) }}
          {{ direction.services_item({
              img: '/img/services/18.png',
              title: 'Билибинская АЭС'
          }) }}
          {{ direction.services_item({
              img: '/img/services/19.png',
              title: 'Хабаровский край'
          }) }}
          {{ direction.services_item({
              img: '/img/services/20.png',
              title: 'Порты СМП'
          }) }}
          {{ direction.services_item({
              img: '/img/services/21.png',
              title: 'Хатанга'
          }) }}
        </div>
    </section>


{% endblock %}