{% extends '../base.twig' %}
{% import '../macros/breadcrumbs.twig' as card %}
{% import '../macros/section-title.twig' as title %}
{% import '../macros/advantage-item.twig' as item %}
{% import '../layouts/section-about.twig' as about %}
{% block title %}Текст{% endblock %}
{% block content %}

    <div class="page-wrapper">

        {{ card.breadcrumbs({
            list: [
                {
                    caption: 'Главная'
                },
                {
                    caption: 'О нас'
                }
            ]
        }) }}

        {{ about.section_about({
            title: 'Шаблон текстовой страницы',
            img: '/img/about/about.png',
            list: true
        }) }}

        {% include '../layouts/section-about.twig' %}

        <section  class="section-advantages ">
            <div class="container">
                {{ title.section_title({
                    title: 'Основные принципы компании'
                }) }}
                <div id="#mobileAccordion" class="section-advantages__wrap">
                    {{ item.advantage_item({
                    title: 'Ответственность',
                    descr: 'Мы осознаем всю ответственность, возложенную на нас клиентами, при перевозке груза. За каждый груз мы несем полную финансовую и моральную ответственность.',
                    custom_id: 'advantages-one',
                    custom_class: 'section-text'
                    }) }}
                    {{ item.advantage_item({
                    title: 'Порядочность',
                    descr: 'Основа основ любых взаимоотношений. Корректны в расчетах. Никаких хитростей, срывов сроков поставки и скрытых платежей.',
                    custom_id: 'advantages-two',
                    custom_class: 'section-text'
                    }) }}
                    {{ item.advantage_item({
                    title: 'Уважение',
                    descr: 'Мы уважаем наших клиентов и бережем наши отношения. Всегда приятно иметь дело с достойными людьми.',
                    custom_id: 'advantages-three',
                    custom_class: 'section-text'
                    }) }}
                    {{ item.advantage_item({
                    title: 'Внимательность',
                    descr: 'Максимально внимательное отношение к каждой перевозке. Отслеживание дат перегрузок, совмещение расписаний движений транспорта позволяют избежать лишних затрат.',
                    custom_id: 'advantages-four',
                    custom_class: 'section-text'
                    }) }}
                </div>
            </div>
        </section>           
        {% include '../layouts/section-partners.twig' %}
    </div>

{% endblock %}