{% autoescape false %}
	{% if not article.isWritable() %}
		<div class="alert alert-warning">
			Директория {{ constant('Articles::IMAGE_DIRECTORY') }} не существует или недоступна для записи
		</div>
	{% endif %}
	{% if app.user.hasFlash('success') %}
		<div class="alert alert-success">
			{{ app.user.getFlash('success') }}
		</div>
	{% endif %}
	{% if app.user.hasFlash('failed') %}
		<div class="alert alert-danger">
			{{ C.Html.errorSummary(article) }}
		</div>
	{% endif %}

	{{ C.Html.form('', 'post', { 'class': 'form-horizontal', 'enctype': 'multipart/form-data', 'style': 'margin: 0' }) }}
		<div class="row">
			<div class="col-md-12">
				<div class="widget box">
					<div class="widget-header">
						<h4><i class="icon-reorder"></i> Основное</h4>
					</div>
					<div class="widget-content">
						<div class="form-group {{ article.getError('slug') ? 'has-error' }}">
							{{ C.Html.activeLabel(article, 'slug', { 'class': 'col-md-2 control-label' }) }}
							<div class="col-md-6">
								{{ C.Html.activeTextField(article, 'slug', { 'class': 'form-control' }) }}
							</div>
						</div>
						<div class="form-group {{ article.getError('name') ? 'has-error' }}">
							{{ C.Html.activeLabel(article, 'name', { 'class': 'col-md-2 control-label' }) }}
							<div class="col-md-6">
								{{ C.Html.activeTextField(article, 'name', { 'class': 'form-control' }) }}
							</div>
						</div>
						{#<div class="form-group {{ article.getError('categoryID') ? 'has-error' }}">#}
							{#{{ C.Html.activeLabel(article, 'categoryID', { 'class': 'col-md-2 control-label' }) }}#}
							{#<div class="col-md-6">#}
								{#{{ C.Html.activeDropDownList(article, 'categoryID', { '': '..' } + categories, { 'class': 'form-control' }) }}#}
							{#</div>#}
						{#</div>#}
						<div class="form-group {{ article.getError('created') ? 'has-error' }}">
							{{ C.Html.activeLabel(article, 'created', { 'class': 'col-md-2 control-label' }) }}
							<div class="col-md-2">
								{{ C.Html.activeTextField(article, 'created', { 'class': 'form-control datepicker' }) }}
							</div>
						</div>

						<div class="form-group {{ article.getError('text') ? 'has-error' }}">
							{{ C.Html.activeLabel(article, 'text', { 'class': 'col-md-2 control-label' }) }}
							<div class="col-md-6">
								{{ app.controller.widget('CKEditor', {
									'model': article,
									'attribute': 'text',
									'language': 'ru',
									'editorTemplate': 'full',
								}, true) | raw }}
							</div>
						</div>
						<div class="form-group {{ article.getError('shortText') ? 'has-error' }}">
							{{ C.Html.activeLabel(article, 'shortText', { 'class': 'col-md-2 control-label' }) }}
							<div class="col-md-6">
								{{ app.controller.widget('CKEditor', {
									'model': article,
									'attribute': 'shortText',
									'language': 'ru',
									'editorTemplate': 'full',
								}, true) | raw }}
							</div>
						</div>
						<div class="form-group {{ article.getError('image') ? 'has-error' }}">
							{{ C.Html.activeLabel(article, 'image', { 'class': 'col-md-2 control-label' }) }}
							<div class="col-md-6">
								{{ C.Html.activeFileField(article, 'image') }}
								{% if article.imageSmall and article.imageSmall is not null %}
									<div>
										<div class="clearfix">
											{{ C.Html.image(article.getImageSmall(), '', { 'class': 'img-thumbnail', 'style': 'margin: 15px 0 5px; width: 250px;' }) }}
										</div>
										<button type="button" class="btn btn-danger btn-xs" onclick="deleteImage({{ article.articleID }}, this);">Удалить изображение</button>
									</div>
								{% endif %}
							</div>
						</div>
						<div class="form-group {{ article.getError('readingTime') ? 'has-error' }}">
							{{ C.Html.activeLabel(article, 'readingTime', { 'class': 'col-md-2 control-label' }) }}
							<div class="col-md-1">
								{{ C.Html.activeTextField(article, 'readingTime', { 'class': 'form-control' }) }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="widget box">
					<div class="widget-header">
						<h4><i class="icon-reorder"></i> SEO</h4>
					</div>
					<div class="widget-content">
						<div class="form-group {{ article.getError('metaTitle') ? 'has-error' }}">
							{{ C.Html.activeLabel(article, 'metaTitle', { 'class': 'col-md-2 control-label' }) }}
							<div class="col-md-6">
								{{ C.Html.activeTextField(article, 'metaTitle', { 'class': 'form-control' }) }}
							</div>
						</div>
						<div class="form-group {{ article.getError('metaDescription') ? 'has-error' }}">
							{{ C.Html.activeLabel(article, 'metaDescription', { 'class': 'col-md-2 control-label' }) }}
							<div class="col-md-6">
								{{ C.Html.activeTextField(article, 'metaDescription', { 'class': 'form-control' }) }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		{{ C.Html.submitButton('Сохранить', { 'class': 'btn btn-primary' }) }}
	{{ C.Html.endForm() }}
{% endautoescape %}

<script type="text/javascript">
	$(function() {
		$('.datepicker').datepicker({
//			defaultDate: +7,
			showOtherMonths: true,
//			autoSize: true,
			dateFormat: 'yy-mm-dd'
		});
	});
	
	var deleteImage = function(id, element) {
		if (confirm('Вы действительно хотите удалить изображение?')) {
			$.post('/admin/articles/deleteImage/' + parseInt(id), function(data) {
				$(element).parent().remove();
			});
		}
	}
</script>