{% extends 'modules/admin/views/layouts/main.twig' %}

{% set title = this.setPageTitle('Статьи') %}
{% set bread = this.setBreadCrumbs({ 'Статьи': '/admin/articles' }) %}

{% block content %}
	<a href="{{ this.createUrl('/admin/articles/create') }}" class="btn btn-success">Добавить</a>
	<br />
	<br />

	<table class="table table-hover table-striped table-bordered table-highlight-head">
		<thead>
			<tr>
				<th width="40">#</th>
				<th width="30"></th>
				<th width="80">Дата</th>
				<th>Название</th>
				<th width="200">Категория</th>
				<th width="125">Действие</th>
			</tr>
		</thead>
		<tbody>
			{% for item in provider.getData() %}
				<tr>
					<td>{{ item.articleID }}</td>
					<td>
						{% if item.imageSmall %}
							<i class="icon-picture"></i>
						{% endif %}
					</td>
					<td>{{ item.getCreated() }}</td>
					<td><a href="{{ this.createUrl('/articles/view', { slug: item.slug }) }}">{{ item.name }}</a></td>
					<td>{{ item.category.name }}</td>
					<td>
						{#<a href="{{ app.createUrl('/articles/view', { id: item.articleID }) }}" class="btn btn-xs"><i class="icon-eye-open"></i></a>#}
						<a href="{{ app.createUrl('/admin/articles/update', { id: item.articleID }) }}" class="btn btn-xs"><i class="icon-edit"></i></a>
						<a href="{{ app.createUrl('/admin/articles/delete', { id: item.articleID }) }}" class="btn btn-xs" onclick="return confirm('Вы действительно хотите удалить запись?');"><i class="icon-trash"></i></a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% if provider.pagination.pageCount > 0 %}
		<div class="row">
			<div class="table-footer">
				<div class="col-md-6 col-md-offset-6">
					{{ this.widget('ALinkPager', { pages: provider.pagination }, true) | raw }}
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}