{% autoescape false %}
<div class="widget-content">
	<div class="form-group {{ item.getError('title') ? 'has-error' }}">
		{{ C.Html.activeLabel(item, 'title', { 'class': 'col-md-2 control-label' }) }}
		<div class="col-md-6">
			{{ C.Html.activeTextField(item, 'title', { 'class': 'form-control' }) }}
		</div>
	</div>
	<div class="form-group {{ item.getError('content') ? 'has-error' }}">
		{{ C.Html.activeLabel(item, 'content', { 'class': 'col-md-2 control-label' }) }}
		<div class="col-md-6">
			{{ app.controller.widget('CKEditor', {
				'model': item,
				'attribute': 'content',
				'language': 'ru',
				'editorTemplate': 'full',
			}, true) | raw }}
		</div>
	</div>
	<div class="form-group {{ item.getError('template') ? 'has-error' }}">
		{{ C.Html.activeLabel(item, 'template', { 'class': 'col-md-2 control-label' }) }}
		<div class="col-md-6">
			{{ C.Html.activeDropDownList(item, 'template', item.templates, { 'class': 'form-control' }) }}
			{#<select class="form-control" name="SliderItem[template]" id="SliderItem_template">#}
			{#{% for tmp in item.templates %}#}
			{#<option value="{{ tmp.name }}">{{ tmp.label }}</option>#}
			{#{% endfor %}#}
			{#</select>#}
		</div>
	</div>
	<div class="form-group {{ item.getError('active') ? 'has-error' }}">
		{{ C.Html.activeLabel(item, 'active', { 'class': 'col-md-2 control-label' }) }}
		<div class="col-md-6">
			{{ C.Html.activeCheckBox(item, 'active', {}) }}
		</div>
	</div>
	<div class="form-group {{ item.getError('position') ? 'has-error' }}">
		{{ C.Html.activeLabel(item, 'position', { 'class': 'col-md-2 control-label' }) }}
		<div class="col-md-6">
			{{ C.Html.activeTextField(item, 'position', {}) }}
		</div>
	</div>
	<div class="form-group {{ item.getError('image') ? 'has-error' }}">
		{{ C.Html.activeLabel(item, 'image', { 'class': 'col-md-2 control-label' }) }}
		<div class="col-md-6">
			{{ C.Html.activeFileField(item, 'image') }}
			{% if item.getImage() is not null %}
				<div>
					<div class="clearfix">
						{{ C.Html.image(item.getImage(), '', { 'class': 'img-thumbnail', 'style': 'margin: 15px 0 5px; width: 250px;' }) }}
					</div>
					<button type="button" class="btn btn-danger btn-xs" onclick="deleteImage({{ item.id }}, this);">Удалить изображение</button>
				</div>
			{% endif %}
		</div>
	</div>
</div>
{% endautoescape %}