{% if route.getDeliveryMethodsArray() %}
	<section  class="section-advantages ">
		<div class="container">
			{{ title.section_title({
				title: 'Способы доставки на '~morphGeo.getCase(route.title, 'винительный')
			}) }}
			<div id="#mobileAccordion" class="section-advantages__wrap">
				{% for row in route.getDeliveryMethodsArray() %}
					{{ item.advantage_item({
						title: row.name,
						descr: row.description,
						custom_class: 'section-text'
					}) }}
				{% endfor %}
				{% if route.getFile() %}
					<a href="{{ route.getFile() }}" download class="download">
						<svg class="icon-svg _paper">
							<use xlink:href="#paper"/>
						</svg>
						<span>Cкачать тарифы на перевозку грузов</span>
					</a>
				{% endif %}
			</div>
		</div>
	</section>
{% endif %}