{% if otherProjects %}
	{% import '/views/macros/section-title.twig' as card %}
	{% import '/views/macros/project-item.twig' as projectMacros %}

	<section class="section-projects">
		<div class="container">
			{{ card.section_title({
				title: 'Реализованные проекты'
			}) }}
		</div>
		<div class="section-projects__wrap">
			<div class="section-projects__left">
				{% for project in otherProjects[0:2] %}
					{{ projectMacros.project_item({
						img: project.getImage,
						title: project.title,
						time: app.dateFormatter.formatDateTime(project.date, 'medium', false),
						url: app.controller.createUrl('projects/view', {'slug': project.slug})
					}) }}
				{% endfor %}
			</div>
			<div class="section-projects__right">
				{% for project in otherProjects[2:3] %}
					{{ projectMacros.project_item({
						img: project.getImage,
						title: project.title,
						time: app.dateFormatter.formatDateTime(project.date, 'medium', false),
						url: app.controller.createUrl('projects/view', {'slug': project.slug})
					}) }}
				{% endfor %}
			</div>
			<a href="/about/projects" class="btn">
				<span>Все проекты</span>
			</a>
		</div>
	</section>
{% endif %}

