{% if route.getTableArray %}
	<section class="card-delivery">
		<div class="container">
			<h2 class="h2 section-title">{{ route.priceTableTitle ? route.priceTableTitle : 'Стоимость перевозки в '~morphGeo.getCase(route.menuTitle, 'винительный') }}</h2>
			<table class="delivery-table">
				<thead>
				<tr>
					{% for th in route.getTableArray.head %}
						<th>{{ th }}</th>
					{% endfor %}
				</tr>

				</thead>
				<tbody>
				{% for tr in route.getTableArray.body %}
					{% if tr.type == 'separator' %}
						<tr >
							<td class="delivery-table__subtitle" colspan="{{ route.getTableArray.head|length }}">{{ tr.cols[0] }}</td>
						</tr>
					{% else %}
						<tr>
							{% for i, td in tr.cols %}
								<td {% if tr.rowspan[i] %}rowspan="{{ tr.rowspan[i] }}"{% endif %} data-th="{{ route.getTableArray.head[i] }}">{{ td }}</td>
							{% endfor %}
						</tr>
					{% endif %}
				{% endfor %}
				</tbody>
			</table>
			{% if route.getFile() %}
				<a href="{{ route.getFile() }}" download class="download">
					<svg class="icon-svg _paper">
						<use xlink:href="#paper"/>
					</svg>
					<span>Cкачать прайс</span>
				</a>
			{% endif %}
			<div class="text-card-wrap js-load-wrap">
				{{ route.priceTableText | raw }}
			</div>
			{#<button type="button" class="show-more js-load-more" data-url="../data/load-text.html">Показать еще</button>#}
		</div>
	</section>
{% endif %}