<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="{{ this.pageDescription }}">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.min.css">
    <title>{% block title %}{{ this.pageTitle }}{% endblock %}</title>
</head>

<body class="body">
{#{% include 'macros/preloader.twig' %}#}
{% include '/views/layouts/header.twig' %}
<div class="overlay"></div>
<div class="thanks">
    <button type="button" class="js-close-thanks">
        <svg class="icon-svg _close">
            <use xlink:href="#close"/>
        </svg>
    </button>
    <h2>Спасибо за заявку!</h2>
</div>
<main class="main">
    {% block content %}{% endblock %}
</main>

{% include '/views/layouts/footer.twig' %}
<div class="hidden">{% include "/views/sprite-inline.twig" %}</div>
{% include "/views/modules/scripts.twig" %}
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@12.0.0/dist/lazyload.min.js"></script>
<script type="text/javascript">
	var lazyLoadInstance = new LazyLoad({
		elements_selector: ".lazyload"
	});
</script>
</body>