<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><symbol id="boxes" viewBox="0 0 512 447.3">
		<path d="M277.5,377.1c-3.2-8.9-11.7-14.8-21.1-14.8c-2.6,0-5.2,0.5-7.7,1.4c-11.7,4.2-17.7,17.2-13.4,28.8
	c3.2,8.9,11.7,14.8,21.1,14.8c2.6,0,5.2-0.5,7.7-1.4C275.7,401.6,281.7,388.7,277.5,377.1z M258.9,391.8c-0.8,0.3-1.7,0.5-2.6,0.5
	c-3.1,0-6-2-7.1-4.9c-1.4-3.9,0.6-8.2,4.5-9.6c0.8-0.3,1.7-0.5,2.6-0.5c3.1,0,6,2,7,4.9C264.8,386.1,262.8,390.4,258.9,391.8z
	 M511.5,307.9l-10.3-28.2c-0.7-1.9-2.1-3.4-3.8-4.2c0,0,0,0,0,0c-0.1-0.1-0.2-0.1-0.3-0.1c-0.1,0-0.2-0.1-0.3-0.1c0,0-0.1,0-0.1,0
	c-1.6-0.5-3.3-0.6-5,0l-24.5,8.9L415,140.8c0,0,0,0,0,0l-20.5-56.4c-1.1-2.9-3.9-4.9-7-4.9c-0.9,0-1.7,0.2-2.6,0.4
	c-3.9,1.4-5.9,5.7-4.5,9.6l18,49.3L302,173.9c0,0,0,0,0,0c0,0,0,0,0,0l-58.7,21.4L203.9,87.2l51.7-18.8L266.7,99
	c1.1,2.9,3.9,4.9,7,4.9c0.9,0,1.7-0.1,2.6-0.5l37.6-13.7c1.9-0.7,3.4-2.1,4.2-3.9c0.6-1.3,0.8-2.8,0.6-4.2c0,0,0,0,0,0
	c0-0.2-0.1-0.4-0.1-0.6c0-0.1,0-0.1,0-0.2c-0.1-0.2-0.1-0.5-0.2-0.7l-11.1-30.5L359,30.8l11.1,30.5c1.1,2.9,3.9,4.9,7,4.9
	c0.9,0,1.7-0.2,2.6-0.5c3.9-1.4,5.9-5.7,4.5-9.6l-13.7-37.6c-0.9-2.6-3.2-4.4-5.9-4.8c-0.4-0.1-0.8-0.1-1.2-0.1
	c-0.9,0-1.7,0.2-2.6,0.5l-65.7,23.9c0,0,0,0,0,0c0,0,0,0-0.1,0l-37.5,13.6c0,0,0,0-0.1,0c0,0-0.1,0-0.1,0l-65.7,23.9
	c-1.9,0.7-3.4,2.1-4.2,3.9c-0.9,1.8-0.9,3.9-0.3,5.7l44.5,122.2L274.5,325c-5.4-1.7-11.1-2.6-16.9-2.7L149.2,24.7
	c-7.1-19.4-28.6-29.5-48.1-22.4c0,0,0,0,0,0L5,37c0,0,0,0,0,0c0,0,0,0,0,0c-0.2,0.1-0.3,0.1-0.5,0.2c-0.1,0-0.1,0.1-0.2,0.1
	c-0.2,0.1-0.3,0.2-0.5,0.3c-0.1,0-0.1,0.1-0.2,0.1c-0.1,0.1-0.3,0.2-0.4,0.3C3.1,38,3,38,3,38c-0.1,0.1-0.3,0.2-0.4,0.3
	c-0.1,0.1-0.1,0.1-0.2,0.2c-0.1,0.1-0.2,0.2-0.3,0.3C2,38.9,1.9,39,1.9,39c-0.1,0.1-0.2,0.2-0.3,0.4c-0.1,0.1-0.1,0.1-0.2,0.2
	c-0.1,0.1-0.2,0.2-0.2,0.4c-0.1,0.1-0.1,0.2-0.2,0.2c-0.1,0.1-0.1,0.3-0.2,0.4c0,0.1-0.1,0.2-0.1,0.3c-0.1,0.1-0.1,0.3-0.2,0.4
	c0,0.1-0.1,0.2-0.1,0.3c0,0.1-0.1,0.3-0.1,0.4c0,0.1-0.1,0.2-0.1,0.3c0,0.1-0.1,0.3-0.1,0.4c0,0.1,0,0.2-0.1,0.3c0,0.1,0,0.3,0,0.4
	c0,0.1,0,0.2,0,0.3c0,0.1,0,0.3,0,0.4c0,0.1,0,0.2,0,0.3c0,0.1,0,0.3,0,0.4c0,0.1,0,0.2,0,0.3c0,0.1,0.1,0.3,0.1,0.4
	c0,0.1,0,0.2,0.1,0.3c0,0.1,0.1,0.3,0.1,0.4c0,0.1,0.1,0.2,0.1,0.3c0,0,0,0,0,0c0,0,0,0,0,0l10.3,28.2c0.1,0.2,0.2,0.4,0.3,0.6
	c0.1,0.2,0.1,0.3,0.2,0.5c0.1,0.2,0.3,0.4,0.4,0.6c0.1,0.1,0.2,0.3,0.2,0.4c0.2,0.2,0.3,0.4,0.5,0.6c0.1,0.1,0.2,0.2,0.2,0.3
	c0.2,0.2,0.4,0.4,0.6,0.5c0.1,0.1,0.2,0.1,0.2,0.2c0.2,0.2,0.5,0.3,0.8,0.4c0.1,0,0.1,0.1,0.2,0.1c0.3,0.1,0.5,0.2,0.8,0.3
	c0.1,0,0.2,0.1,0.2,0.1c0.3,0.1,0.6,0.1,0.9,0.2c0.1,0,0.2,0,0.2,0.1c0.4,0.1,0.8,0.1,1.1,0.1c0.2,0,0.4,0,0.6,0c0,0,0.1,0,0.1,0
	c0.2,0,0.3,0,0.5-0.1c0.1,0,0.2,0,0.2-0.1c0.1,0,0.3-0.1,0.4-0.1c0.1,0,0.3-0.1,0.4-0.1c0.1,0,0.1,0,0.2-0.1l0,0c0,0,0,0,0,0
	c0,0,0,0,0,0l89.2-32.2l105.8,290.6c-18.9,16.5-26.7,43.5-17.6,68.5c9,24.6,32.6,41.1,58.7,41.1c7.3,0,14.5-1.3,21.4-3.8
	c15.7-5.7,28.2-17.2,35.3-32.3c3.8-8,5.7-16.6,5.9-25.2l188.2-68.4c0,0,0,0,0,0h0c0,0,0.1,0,0.1-0.1c0.2-0.1,0.4-0.1,0.6-0.2
	c0.1,0,0.1-0.1,0.2-0.1c0.1-0.1,0.3-0.2,0.4-0.2c0.1,0,0.2-0.1,0.2-0.2c0.1-0.1,0.3-0.2,0.4-0.3c0,0,0.1-0.1,0.1-0.1
	c0.2-0.1,0.3-0.2,0.5-0.4c0,0,0-0.1,0.1-0.1c0.2-0.1,0.3-0.3,0.4-0.4c0,0,0.1-0.1,0.1-0.1c0.1-0.2,0.3-0.3,0.4-0.5c0,0,0,0,0-0.1
	c0.1-0.2,0.2-0.4,0.4-0.5c0,0,0-0.1,0.1-0.1c0.1-0.2,0.2-0.3,0.3-0.5c0-0.1,0.1-0.1,0.1-0.2c0.1-0.1,0.1-0.3,0.2-0.4
	c0-0.1,0.1-0.2,0.1-0.3c0-0.1,0.1-0.2,0.1-0.4c0-0.2,0.1-0.4,0.1-0.6c0,0,0-0.1,0-0.1C512.1,310.4,512,309.1,511.5,307.9z
	 M293.2,54.8l8.5,23.5l-23.5,8.6l-8.5-23.5L293.2,54.8z M337.7,176.9l8.6,23.5l-23.5,8.6l-8.5-23.5L337.7,176.9z M248.4,209.4
	l51.7-18.8l11.1,30.5c1.1,3,3.9,4.9,7,4.9c0.9,0,1.7-0.2,2.6-0.5l37.6-13.7c3.9-1.4,5.9-5.7,4.5-9.6l-11.1-30.5l51.7-18.8
	l49.6,136.3l-149.6,54.4c-2.8-3.2-5.9-6.1-9.3-8.7L248.4,209.4z M121.1,34.9c0-0.1-0.1-0.2-0.1-0.4c0-0.1-0.1-0.2-0.1-0.3
	c0-0.1-0.1-0.2-0.2-0.3c-0.1-0.1-0.1-0.2-0.2-0.4c-0.1-0.1-0.1-0.2-0.2-0.2c-0.1-0.1-0.2-0.3-0.3-0.4c0-0.1-0.1-0.1-0.2-0.2
	c-0.1-0.1-0.2-0.3-0.3-0.4c0,0-0.1-0.1-0.1-0.1c-0.1-0.1-0.2-0.3-0.4-0.4c0,0-0.1-0.1-0.1-0.1c-0.1-0.1-0.3-0.2-0.4-0.4
	c0,0,0,0-0.1,0c-0.2-0.1-0.4-0.2-0.5-0.4c0,0,0,0,0,0c-1-0.6-2.2-0.9-3.4-1c0,0,0,0,0,0c-0.2,0-0.5,0-0.7,0c0,0-0.1,0-0.1,0
	c-0.2,0-0.4,0-0.6,0.1c-0.1,0-0.2,0-0.3,0.1c-0.1,0-0.3,0.1-0.4,0.1c-0.2,0-0.3,0.1-0.5,0.2c-0.1,0-0.1,0-0.2,0.1l0,0c0,0,0,0,0,0
	c0,0,0,0,0,0L22.2,62.6l-5.1-14.1l89.2-32.2c0,0,0,0,0,0c0,0,0,0,0,0c11.7-4.2,24.6,1.8,28.8,13.4l107,294.1
	c-2.4,0.6-4.8,1.3-7.2,2.1c-2.4,0.9-4.7,1.9-6.9,3L121.1,34.9z M299.4,404.8c-5.4,11.5-14.9,20.2-26.8,24.6
	c-5.3,1.9-10.7,2.9-16.2,2.9c-19.9,0-37.8-12.6-44.6-31.3c-9-24.6,3.8-51.9,28.4-60.9c5.3-1.9,10.7-2.9,16.2-2.9
	c19.9,0,37.8,12.6,44.6,31.3C305.3,380.4,304.8,393.3,299.4,404.8z M317.2,370.6c-0.6-2.4-1.3-4.8-2.1-7.2c-0.9-2.4-1.9-4.7-3-6.9
	l177.7-64.6l5.1,14.1L317.2,370.6z"/>
	</symbol><symbol id="close" viewBox="0 0 16 16">
		<path d="M1.8,0.2l14.2,14L14.2,16L0,2L1.8,0.2z M0.1,13.8L14.1,0l1.8,1.8l-14,13.8L0.1,13.8z"/>
	</symbol><symbol id="home" viewBox="0 0 512 456.4">
		<path d="M442.2,204.7c-7.3,0-13.3,6-13.3,13.3v211.7H322.5V314.2c0-36.7-29.8-66.5-66.5-66.5s-66.5,29.8-66.5,66.5v115.6H83.1V218
	c0-7.3-6-13.3-13.3-13.3s-13.3,6-13.3,13.3v225.1c0,7.3,6,13.3,13.3,13.3h133c7,0,12.7-5.4,13.3-12.3c0-0.3,0.1-0.7,0.1-1V314.2
	c0-22,17.9-39.9,39.9-39.9s39.9,17.9,39.9,39.9v128.9c0,0.4,0,0.7,0.1,1c0.5,6.9,6.3,12.3,13.3,12.3h133c7.3,0,13.3-6,13.3-13.3V218
	C455.5,210.7,449.6,204.7,442.2,204.7z M506.6,180.3L263.9,2.6c-4.7-3.4-11-3.4-15.7,0L5.4,180.3c-5.9,4.3-7.2,12.7-2.9,18.6
	s12.7,7.2,18.6,2.9L256,29.8l234.8,171.9c2.4,1.7,5.1,2.6,7.8,2.6c4.1,0,8.1-1.9,10.7-5.4C513.8,192.9,512.5,184.6,506.6,180.3z"/>
	</symbol><symbol id="kr" viewBox="0 0 35 17"><g><g><path d="M-.024 16.96V.011h14.656l-6.13 7.852 6.737 9.095zM16.878.011h7.07V16.99h-7.07zm9.83 0c3.065 0 5.554 2.524 5.554 5.67 0 3.147-2.489 5.702-5.553 5.702V.012m8.283 14.113c0 1.559-1.243 2.834-2.76 2.834-1.518 0-2.762-1.275-2.762-2.834 0-1.558 1.244-2.835 2.761-2.835 1.518 0 2.761 1.277 2.761 2.835"/></g></g></symbol><symbol id="lupe" viewBox="0 0 12 12"><g><g><path d="M11.896 11.894a.35.35 0 0 1-.506 0L8.473 8.977a5.097 5.097 0 0 1-3.355 1.256A5.124 5.124 0 0 1 0 5.117 5.122 5.122 0 0 1 5.118 0a5.122 5.122 0 0 1 5.117 5.117A5.096 5.096 0 0 1 8.98 8.472l2.917 2.916a.36.36 0 0 1 0 .506zM5.115 9.518a4.406 4.406 0 0 0 4.399-4.401 4.404 4.404 0 0 0-4.4-4.399A4.404 4.404 0 0 0 .717 5.117c0 2.426 1.975 4.4 4.399 4.4z"/></g></g></symbol><symbol id="paper" viewBox="0 0 13 15.9">

		<path d="M13,5.6v9.3c0,0.3-0.1,0.5-0.3,0.7c-0.2,0.2-0.4,0.3-0.7,0.3H1c-0.3,0-0.5-0.1-0.7-0.3C0.1,15.4,0,15.2,0,14.9
	V1c0-0.3,0.1-0.5,0.3-0.7C0.5,0.1,0.7,0,1,0h6.5C7.7,0,8,0.1,8.4,0.2c0.3,0.1,0.6,0.3,0.8,0.5l3.2,3.2c0.2,0.2,0.4,0.5,0.5,0.8
	C12.9,5.1,13,5.4,13,5.6z M7.8,5.3h3.8c-0.1-0.2-0.1-0.3-0.2-0.4L8.2,1.6C8.1,1.6,8,1.5,7.8,1.4V5.3z M11.7,6.6H7.5
	c-0.3,0-0.5-0.1-0.7-0.3C6.6,6.2,6.5,5.9,6.5,5.6V1.3H1.3v13.3h10.4V6.6z"/>
	</symbol><symbol id="pin" viewBox="0 0 21 21">

		<path id="a" d="M10.4,9.9c-1.2,0-2.2-1-2.2-2.2c0-1.2,1-2.2,2.2-2.2c1.2,0,2.2,1,2.2,2.2C12.6,8.9,11.7,9.9,10.4,9.9z M15,9.1
	c-0.1,0.5-0.5,1.4-0.9,1.9c-0.2,0.3-2.6,4.5-3.6,6.3l-3.9-6.9l0,0c-0.1-0.2-0.3-0.5-0.4-1C6,8.8,5.9,8.2,5.9,7.6
	C5.9,5,8,2.9,10.5,2.9c2.7,0,4.5,2.2,4.7,4.3C15.2,7.7,15.2,8.3,15,9.1z M16.5,7c-0.3-3.1-2.9-5.5-6-5.5c-3.3,0-5.9,2.7-5.9,6.1
	c0,0.7,0.1,1.4,0.3,2.1C5,10.3,5.3,10.8,5.4,11l0,0l0,0l4.5,8.2c0.1,0.2,0.3,0.3,0.5,0.3h0c0.2,0,0.4-0.1,0.5-0.3
	c0-0.1,4.1-7.1,4.3-7.4c0.4-0.6,0.9-1.7,1-2.3C16.5,8.5,16.5,7.7,16.5,7z"/>
		<g>
			<path id="a_1_" d="M10.4,9.9c-1.2,0-2.2-1-2.2-2.2c0-1.2,1-2.2,2.2-2.2c1.2,0,2.2,1,2.2,2.2
		C12.6,8.9,11.7,9.9,10.4,9.9z M15,9.1c-0.1,0.5-0.5,1.4-0.9,1.9c-0.2,0.3-2.6,4.5-3.6,6.3l-3.9-6.9l0,0c-0.1-0.2-0.3-0.5-0.4-1
		C6,8.8,5.9,8.2,5.9,7.6C5.9,5,8,2.9,10.5,2.9c2.7,0,4.5,2.2,4.7,4.3C15.2,7.7,15.2,8.3,15,9.1z M16.5,7c-0.3-3.1-2.9-5.5-6-5.5
		c-3.3,0-5.9,2.7-5.9,6.1c0,0.7,0.1,1.4,0.3,2.1C5,10.3,5.3,10.8,5.4,11l0,0l0,0l4.5,8.2c0.1,0.2,0.3,0.3,0.5,0.3h0
		c0.2,0,0.4-0.1,0.5-0.3c0-0.1,4.1-7.1,4.3-7.4c0.4-0.6,0.9-1.7,1-2.3C16.5,8.5,16.5,7.7,16.5,7z"/>
		</g>
	</symbol><symbol id="sun" viewBox="0 0 397.4 325.8">
		<path d="M173.6,62l-21.9-22.1c-2.6-3.1-7.2-3.5-10.3-0.9c-3.1,2.6-3.5,7.2-0.9,10.3c0.3,0.3,0.5,0.6,0.8,0.9l21.9,22.1
	c3.1,2.6,7.6,2.3,10.3-0.8C175.8,68.7,175.9,64.7,173.6,62z M359.1,41c-2.6-3.1-7.2-3.5-10.3-0.9c-0.3,0.3-0.6,0.5-0.9,0.8
	l-22.1,21.9c-3.1,2.6-3.5,7.2-0.9,10.3c2.6,3.1,7.2,3.5,10.3,0.9c0.3-0.3,0.6-0.5,0.9-0.8l22.1-21.9C361.3,48.7,361.7,44.1,359.1,41
	z M227.3,36.4c0-0.2-0.1-0.4-0.2-0.6l-8-30.1c-0.8-3.9-4.7-6.4-8.6-5.6s-6.4,4.7-5.6,8.6c0,0.2,0.1,0.4,0.2,0.6l8,30.1
	c0.8,3.9,4.7,6.4,8.6,5.6S228.1,40.4,227.3,36.4z M326.7,191.3c-1.4-1.4-2.8-2.7-4.2-4l1.2-2.2c1.5-2.7,2.8-5.6,4-8.4
	c17-42.6-3.6-90.9-46.2-107.9c-0.1,0-0.2-0.1-0.2-0.1c-38.5-15.3-82.4,0-102.9,36c-50.1-14-102.2,15.3-116.2,65.4
	c-2.3,8.3-3.5,17-3.5,25.6c0,1.2,0,2.5,0,3.8c-34.8,2.5-61,32.7-58.6,67.5c2.3,32.9,29.6,58.5,62.6,58.7h0.2h208
	c43.5,0.1,78.8-35.1,78.9-78.6C349.9,226.2,341.6,206.1,326.7,191.3z M225.3,82.3c16.2-6.5,34.3-6.5,50.5,0
	c35.2,14,52.3,53.9,38.4,89.1c-1,2.4-2.2,4.8-3.4,7.1v0.6c-20.1-11.7-44.3-13.9-66.2-6.1c-4-16.1-12.3-30.9-23.8-42.8
	c8.1-15,26.1-21.6,42-15.4c3.8,1.2,7.9-0.8,9.1-4.6c1.1-3.5-0.5-7.3-3.8-8.8c-21.6-8.6-46.2-0.6-58.6,19.1
	c-5.5-4.1-11.3-7.6-17.6-10.4C199.7,97.4,211.5,87.6,225.3,82.3z M286.1,309.5c-5,1.2-10,1.8-15.1,1.8H63
	c-26.9,0-48.7-21.8-48.6-48.7c0-12.9,5.1-25.2,14.2-34.4l-0.1,0C37.6,219.1,50,214,62.9,214h1.8h1.6c4,0.3,7.4-2.7,7.7-6.7
	c0-0.6,0-1.3-0.1-1.9c-0.2-1.4-0.3-2.9-0.4-4.5c0-1.5,0-3.2,0-5.1c0.6-44,36.8-79.3,80.8-78.7c38.7,0.5,71.4,28.8,77.7,67
	c0.6,4,4.2,6.7,8.2,6.1c0.8-0.1,1.5-0.3,2.2-0.7c4.4-2.2,9.1-3.9,13.9-5c34.5-8.3,69.2,13.1,77.5,47.6
	C342,266.6,320.7,301.2,286.1,309.5z M397.1,109.6c-1.1-3.6-4.8-5.7-8.4-4.9l-30.1,8c-3.9,1-6.2,4.9-5.2,8.8c1,3.9,4.9,6.2,8.8,5.2
	c0,0,0,0,0,0l30.1-8C396.1,117.5,398.3,113.4,397.1,109.6z M392,180.4l-30-8.2c-3.9-1.1-7.9,1.1-9,5s1.1,7.9,5,9l30,8.2
	c3.9,1.1,7.9-1.1,9-5C398.1,185.5,395.8,181.5,392,180.4z M289.8,0.9c-3.9-1.1-7.9,1.1-9,5l-8.2,30c-1.1,3.8,1,7.9,4.9,9
	c0.1,0,0.2,0,0.3,0.1c3.8,1.1,7.9-1.1,9-4.9c0-0.1,0-0.1,0-0.2l8-30C295.8,6,293.6,2,289.8,0.9z"/>
	</symbol><symbol id="truck" viewBox="0 0 512 366.9">
		<path d="M119.5,264.5c-28.2,0-51.2,23-51.2,51.2s23,51.2,51.2,51.2s51.2-23,51.2-51.2C170.7,287.5,147.7,264.5,119.5,264.5z
	 M119.5,349.9c-18.8,0-34.1-15.3-34.1-34.1c0-18.8,15.3-34.1,34.1-34.1s34.1,15.3,34.1,34.1C153.6,334.6,138.3,349.9,119.5,349.9z
	 M409.6,264.5c-28.2,0-51.2,23-51.2,51.2s23,51.2,51.2,51.2s51.2-23,51.2-51.2C460.8,287.5,437.8,264.5,409.6,264.5z M409.6,349.9
	c-18.8,0-34.1-15.3-34.1-34.1c0-18.8,15.3-34.1,34.1-34.1c18.8,0,34.1,15.3,34.1,34.1S428.4,349.9,409.6,349.9z M510.6,217.3
	L433.8,97.8c-1.6-2.4-4.3-3.9-7.2-3.9h-93.9c-4.7,0-8.5,3.8-8.5,8.5v213.3c0,4.7,3.8,8.5,8.5,8.5h34.1v-17.1h-25.6V110.9H422
	l72.9,113.4v82.8h-42.7v17.1h51.2c4.7,0,8.5-3.8,8.5-8.5v-93.9C512,220.2,511.5,218.6,510.6,217.3z M375.5,204.8v-59.7h68.3V128
	h-76.8c-4.7,0-8.5,3.8-8.5,8.5v76.8c0,4.7,3.8,8.5,8.5,8.5h128v-17.1L375.5,204.8L375.5,204.8z M332.8,34.1H8.5
	C3.8,34.1,0,38,0,42.7v273.1c0,4.7,3.8,8.5,8.5,8.5h68.3v-17.1H17.1v-256h307.2v256H162.1v17.1h170.7c4.7,0,8.5-3.8,8.5-8.5V42.7
	C341.3,38,337.5,34.1,332.8,34.1z M8.5,273.1h51.2v17.1H8.5V273.1z M179.2,273.1h145.1v17.1H179.2V273.1z M469.3,273.1h34.1v17.1
	h-34.1V273.1z M34.1,68.3h298.7v17.1H34.1V68.3z M110.9,307.2H128v17.1h-17.1V307.2z M401.1,307.2h17.1v17.1h-17.1V307.2z M34.1,0
	h119.5v17.1H34.1V0z M0,0h17.1v17.1H0V0z"/>
	</symbol></svg>