{% macro card_banner (params) %}

	<section  {% if params.custom_class %} class="{{ params.custom_class }}"{% endif %} style="background-image: url({{ params.bg }})">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12">
					<h1 class="h1">{{ params.title }}</h1>
					{% if  params.items %}
						<div class="card-banner__wrap">
							{% for item in params.items %}<div class="card-item-container">
									<div class="card-item">
										<svg class="icon-svg {{ item.img }}"><use xlink:href="#{{ item.img|replace({'_': ''}) }}"/></svg>
										<span class="card-item__title">{{ item.text }}</span>
									</div>
								</div>
							{% endfor %}
						</div>
					{% endif %}
					{% if  params.text %}
						<p class="section-text">{{ params.text }}</p>
					{% endif %}
					{% if  params.button %}
					  <div class="card-banner__button">
						<button type="button" class="btn scroll-to">{{ params.button }}</button>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</section>

{% endmacro %}