<footer class="footer">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-xl-12 order-1 order-sm-1 order-md-1 order-lg-1 order-xl-1">
				<h4 class="footer__title">Информация о перевозках</h4>
			</div>
			<div class="col-xl-5 col-sm-6 order-2 order-sm-2 order-md-2 order-lg-2 order-xl-2">
				<ul class="footer-list">
					<li class="footer-list__item">
						<a href="#" class="footer-list__link">Перевозка негабаритных грузов</a>
					</li>
					<li class="footer-list__item">
						<a href="#" class="footer-list__link">Перевозка опасных грузов</a>
					</li>
					<li class="footer-list__item">
						<a href="#" class="footer-list__link">Виды контейнеров</a>
					</li>
				</ul>
			</div>
			<div class="col-xl-3 col-sm-6 order-3 order-sm-3 order-md-3 order-lg-3 order-xl-3">
				<ul class="footer-list">
					<li class="footer-list__item">
						<a href="#" class="footer-list__link">Авиаперевозки</a>
					</li>
					<li class="footer-list__item">
						<a href="#" class="footer-list__link">Автоперевозки</a>
					</li>
					<li class="footer-list__item">
						<a href="#" class="footer-list__link">ЖД перевозки</a>
					</li>
				</ul>
			</div>
			<div class="col-xl-4 col-sm-6 order-4 order-sm-4 order-md-4 order-lg-4 order-xl-4">
				<ul class="footer-list">
					<li class="footer-list__item">
						<a href="#" class="footer-list__link">Контейнерные перевозки</a>
					</li>
					<li class="footer-list__item">
						<a href="#" class="footer-list__link">Морские перевозки</a>
					</li>
					<li class="footer-list__item">
						<a href="#" class="footer-list__link">Мультимодальные перевозки</a>
					</li>
				</ul>
			</div>
			<div class="col-xl-6 col-sm-9 order-6 order-sm-6 order-md-6 order-lg-6 order-xl-5">
				<h4 class="footer__title">© 2019 {{ app.settings.get('siteSettings:organization:name') }}</h4>
				<p class="footer-list__item">Все права защищены. Используя сайт, вы принимаете условия Публичной оферты, Соглашения на обработку персональных данных и Политики в отношении обработки персональных данных</p>
				<p class="footer-list__item company">
					<span>Дизайн и разработка сайта  — </span> <a href="https://constructivesolutions.ru/" class="site-development"><svg class="icon-svg _kr"><use xlink:href="#kr"/></svg></a>
				</p>
			</div>
			<div class="col-xl-4 col-sm-6 order-5 order-sm-5 order-md-5 order-lg-5 order-xl-6">
				<h4 class="footer__title">Свяжитесь с нами</h4>
				<ul class="footer-list">
					<li class="footer-list__item">{{ app.settings.get('siteSettings:organization:sellersAddress') }}</li>
					<li class="footer-list__item">
						<a href="tel:{{ app.settings.get('siteSettings:organization:phone')|replace({'(': '', ')': '', ' ': '', '-': ''}) }}" class="footer-list__link">
							{{ app.settings.get('siteSettings:organization:phone') }}
						</a>
					</li>
					<li class="footer-list__item">
						<a href="tel:{{ app.settings.get('siteSettings:organization:phone2')|replace({'(': '', ')': '', ' ': '', '-': ''}) }}" class="footer-list__link">
							{{ app.settings.get('siteSettings:organization:phone2') }}
						</a>
					</li>
					<li class="footer-list__item">
						<a href="mailto:{{ app.settings.get('siteSettings:organization:email') }}" class="footer-list__link">{{ app.settings.get('siteSettings:organization:email') }}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

</footer>