{% import '/views/macros/main_menu.twig' as mainMenu %}
{%
set mainMenuTmp = app.menuHelper.getMainMenu()
%}

<header class="header js-header">
   <div class="container-fluid">

   	<div class="header__wrap">
			
			<!-- LOGO -->
   		<a href="/" class="logo">
   			<img src="/img/index/sever-logo-new-red.svg" alt="Logo">
   			<span class='logo__text'>транспортная компания</span>
   		</a>
			
			<!-- SITE MENU -->
			{{  mainMenu.build(mainMenuTmp) }}

			<div class="header-contacts-wrap">
		   	<div class="header__contacts header-contacts">
		   		<a href="mailto:{{ app.settings.get('siteSettings:organization:email') }}" class="header-contacts__link">{{ app.settings.get('siteSettings:organization:email') }}</a>
		   		<a href="tel:{{ app.settings.get('siteSettings:organization:phone')|replace({'(': '', ')': '', ' ': '', '-': ''}) }}" class="header-contacts__link header-contacts__link--phone">
				    {{ app.settings.get('siteSettings:organization:phone') }}
			    </a>
		   		<a href="#" class="header-contacts__link header-contacts__link--whatsapp">WhatsApp</a>
		   	</div>
			</div>

	   	<button type="button" class="hamburger">
	   		<span class="bar bar1"></span>
	   		<span class="bar bar2"></span>
	   		<span class="bar bar3"></span>
	   	</button>

   	</div>

   </div>
</header>