<section class="main-banner">
	<div class="container">
		<div class="row justify-content-center">
			<div class=" col-xl-10">
				<h1 class="h1">Перевозки в регионы крайнего  <br>севера и дальнего востока</h1>
				<div class="main-banner__button">
					<button type="button"  class="btn scroll-to">Расчитать стоимость доставки</button>
				</div>
			</div>
		</div>
	</div>

	<div class="main-banner__decoration">
		{#<img src="/img/index/banner-decoration.png" alt="alt">#}
	</div>
	
</section>