{% import '/views/macros/breadcrumbs.twig' as card %}

<section class="projects-banner">
    <div class="container">
        {{ card.breadcrumbs({
            list: [
                {
                    caption: 'Главная',
                    url: '/'
                },
                {
                    caption: 'О нас',
	                url: '/about'
                },
                {
                    caption: 'Проекты',
	                url: 'javascript:;'
                }
            ]
        }) }}
        <h2 class="h2">Выполненные проекты</h2>
    </div>
</section>