{% import '/views/macros/project-item.twig' as item %}

<section class="projects">
    {% for project in projects %}
	    {{ item.project_item({
		    img: project.getImage(),
		    title: project.title,
		    time: app.dateFormatter.formatDateTime(project.date, 'medium', false),
		    url: app.controller.createUrl('projects/view', {'slug': project.slug})
	    }) }}
    {% endfor %}
</section>