{% import '/views/macros/section-title.twig' as card %}
{% import '/views/macros/services-item.twig' as item %}

<section class="section-services">
	<div class="container">
		{{ card.section_title({
            title: 'Основные услуги'
        }) }}
	</div>
	<div class="section-services__wrap">
		{{ item.services_item({
            img: '/img/services/1.png',
            title: 'Автоперевозки'
        }) }}
        {{ item.services_item({
            img: '/img/services/2.png',
            title: 'Авиаперевозки'
        }) }}
        {{ item.services_item({
            img: '/img/services/3.png',
            title: 'ЖД перевозки'
        }) }}
        {{ item.services_item({
            img: '/img/services/4.png',
            title: 'Показать больше направлений'
        }) }}
	</div>
</section>