{% import '/views/macros/section-title.twig' as card %}
{% import '/views/macros/advantage-item.twig' as item %}

<section  class="section-advantages ">
    <div class="container">
        {{ card.section_title({
            title: 'Преимущества сотрудничества с ТК Север'
        }) }}
        <div id="#mobileAccordion" class="section-advantages__wrap">
        	{{ item.advantage_item({
            title: 'Широкий спектр  услуг',
            descr: 'Перевозки различными видами транспорта, фрахтование, экспедирование грузов, услуги ответственного хранения, страхование, перевозка негабарита – лишь часть направлений нашей деятельности. Специалисты ТК Север готовы помочь своим клиентам решить любую задачу, связанную с перевозками груза по территории РФ и за ее пределами.',
            custom_id: 'advantages-one',
            custom_class: 'section-text'
        	}) }}
        	{{ item.advantage_item({
            title: 'Профессиональный подход ',
            descr: 'Сотрудники компании – эксперты в области мультимодальной логистики, прошедшие конкурс при приеме на работу и дополнительное специальное обучение, прекрасно разбирающиеся в особенностях современного логистического рынка. За годы постоянной практики мы научились быстро и точно реагировать на его изменения. Это позволяет нам профессионально подходить к реализации каждого проекта, применяя самые перспективные способы и технологии в области транспортировки грузов.',
            custom_id: 'advantages-two',
            custom_class: 'section-text'
        	}) }}
        	{{ item.advantage_item({
            title: 'Гарантия сохранности груза',
            descr: 'Доверив свой груз специалистам ТК Север, Вы можете быть уверены, что мы создадим все необходимые условия для его безопасности. застрахуем его, обеспечим постоянное слежение за передвижением, при необходимости обеспечим охрану. Большой популярностью сегодня пользуются контейнерные перевозки, которые также входят в перечень наших услуг. Надежные, вместительные контейнеры обеспечат сохранность груза и облегчат процесс транспортировки.',
            custom_id: 'advantages-three',
            custom_class: 'section-text'
        	}) }}
        	{{ item.advantage_item({
            title: 'Доступная стоимость',
            descr: 'Наличие собственного автопарка, знание всех тонкостей современных логистических операций позволяют нам предоставлять услуги по привлекательной конкурентной стоимости. Мы предлагаем конкурентные цены даже на самые дорогостоящие способы доставки груза – авиаперевозки, компании Москвы и других крупных городов обычно не готовы пойти на столь смелый шаг. ТК Север – редкое исключение. Сотрудничество с нами – эта отличная возможность оперативно перевезти груз в регионы Крайнего Севера и Дальнего Востока, существенно сэкономив на осуществлении столь важной логистической операции.',
            custom_id: 'advantages-four',
            custom_class: 'section-text'
        	}) }}
        </div>
    </div>
</section>            