{% import '/views/macros/services-item.twig' as item %}


  <section class="section-directions">
    <div class="section-directions__wrap">
    	{{ item.services_item({
          img: '/img/services/5.png',
          title: 'Якутия'
      }) }}
      {{ item.services_item({
          img: '/img/services/6.png',
          title: 'Чукотка'
      }) }}
      {{ item.services_item({
          img: '/img/services/7.png',
          title: 'Камчатка'
      }) }}
      {{ item.services_item({
          img: '/img/services/8.png',
          title: 'Курильские острова'
      }) }}
      {{ item.services_item({
          img: '/img/services/9.png',
          title: 'Таймыр'
      }) }}
      {{ item.services_item({
          img: '/img/services/10.png',
          title: 'Сахалин'
      }) }}
      {{ item.services_item({
          img: '/img/services/11.png',
          title: 'Норильск и НПР'
      }) }}
      {{ item.services_item({
          img: '/img/services/4.png',
          title: 'Показать больше направлений'
      }) }}
    </div>
  </section>
