{% import '../macros/section-title.twig' as card %}

{% macro section_contacts (params) %}
	<section class="section-contacts">
		<div class="container">
			<div class="row">

				<div class="col-lg-6">
					<h2 class="h2 section-title">{{ params.title1 }}</h2>
					<p class="section-text"><span>Адрес офиса:</span> {{ app.settings.get('siteSettings:contacts:officeAdress') }}</p>
					<p class="section-text">По данному адресу мы не принимаем грузы. Для сдачи груза, пожалуйста, свяжитесь с нашими менеджерами.</p>
					<p class="section-text"><span>Для отправки корреспонденции:</span> 630132, А/я 162</p>
					<p class="section-text"><span>Телефон:</span>{{ app.settings.get('siteSettings:organization:phone') }}</p>
				</div>

				<div class="col-lg-6">
					<div id="map"></div>
				</div>

				<div class="col-lg-12">
					<h2 class="h2 section-title">{{ params.title2 }}</h2>
					<table class="company-details">
						<tbody>
							<tr>
								<td>Полное наименование</td>
								<td>{{ app.settings.get('siteSettings:contacts:fullName') }}</td>
							</tr>
							<tr>
								<td>Сокращенное наименование</td>
								<td>{{ app.settings.get('siteSettings:contacts:shortName') }}</td>
							</tr>
							<tr>
								<td>Юридический адрес</td>
								<td>{{ app.settings.get('siteSettings:contacts:urAdress') }}</td>
							</tr>
							<tr>
								<td>Почтовый адрес </td>
								<td>{{ app.settings.get('siteSettings:contacts:postAdress') }}</td>
							</tr>
							<tr>
								<td>ОГРН</td>
								<td>{{ app.settings.get('siteSettings:contacts:ogrn') }}</td>
							</tr>
							<tr>
								<td>ИНН</td>
								<td>{{ app.settings.get('siteSettings:contacts:inn') }}</td>
							</tr>
							<tr>
								<td>КПП</td>
								<td>{{ app.settings.get('siteSettings:contacts:kpp') }}</td>
							</tr>
							<tr>
								<td>КПП</td>
								<td>{{ app.settings.get('siteSettings:contacts:kpp2') }}</td>
							</tr>
							<tr>
								<td>ОКАТО</td>
								<td>{{ app.settings.get('siteSettings:contacts:okato') }}</td>
							</tr>
							<tr>
								<td>ОКОГУ</td>
								<td>{{ app.settings.get('siteSettings:contacts:okogu') }}</td>
							</tr>
							<tr>
								<td>ОКТМО</td>
								<td>{{ app.settings.get('siteSettings:contacts:oktmo') }}</td>
							</tr>
							<tr>
								<td>ОКФС</td>
								<td>{{ app.settings.get('siteSettings:contacts:okfs') }}</td>
							</tr>
							<tr>
								<td>ОКОПФ</td>
								<td>{{ app.settings.get('siteSettings:contacts:okopf') }}</td>
							</tr>
							<tr>
								<td>ОКВЭД</td>
								<td>{{ app.settings.get('siteSettings:contacts:okved') }}</td>
							</tr>
						</tbody>
					</table>
					<div class="section-contacts__downloads">
						<div class="download-item">
							<a href="{{ app.settings.get('siteSettings:contacts:dogovorLink') }}" download class="download">
								<svg class="icon-svg _paper">
		                <use xlink:href="#paper"/>
		            </svg>
								<span>Cкачать типовой договор</span>
							</a>
						</div>
						<div class="download-item">
							<a href="{{ app.settings.get('siteSettings:contacts:contactsLink') }}" download class="download">
								<svg class="icon-svg _paper">
		                <use xlink:href="#paper"/>
		            </svg>
								<span>Cкачать реквизиты</span>
							</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
{% endmacro %}