{% import '/views/macros/section-title.twig' as card %}
{% import '/views/macros/project-item.twig' as item %}

<section class="section-projects">
	<div class="container">
		{{ card.section_title({
            title: 'Реализованные проекты'
        }) }}
	</div>
	<div class="section-projects__wrap">
        <div class="section-projects__left">
            {{ item.project_item({
                img: '/img/projects/1.png',
                title: 'Доставка питания и личных вещей в Анюйск',
                time: '27 августа 2019'
            }) }}
            {{ item.project_item({
                img: '/img/projects/3.png',
                title: 'Доставка ТМЦ в контейнерах  для АЭС',
                time: '2 февраля 2019'
            }) }}
        </div>
        <div class="section-projects__right">
            {{ item.project_item({
                img: '/img/projects/10.png',
                title: 'Доставка ТМЦ в контейнерах  для АЭС',
                time: '2 февраля 2019'
            }) }}
        </div>
        <a href="#" class="btn">
            <span>Все  проекты</span>
        </a>
	</div>
</section>