{% import '/views/macros/section-title.twig' as card %}

{% macro section_calculation (params) %}
	<section {% if params.custom_class %} class="{{ params.custom_class }}"{% endif %}>
		<div class="container">
			<h2 class="h2 section-title">{{ params.title }}</h2>

			{% if  params.subtitle %}
			  <p class="section-text">{{ params.subtitle }}</p>
			{% endif %}

			{% if  params.form_one %}
				<form action="#" class="section-calculation__form calculation-form calculation-form--v1 js-form-check">
					<div class="calculation-form__block row">
						<div class="input-wrap col-12 col-sm-4">
							<input type="text" class="form-control calculation-form__item" placeholder="Пункт отправления" required name="CallbackForm[departure]">
						</div>
						<div class="input-wrap col-12 col-sm-4">
							<input type="text" class="form-control calculation-form__item" placeholder="Пункт назначения" value="{{ params.destination_value }}" required name="CallbackForm[destination]">
						</div>
						<div class="input-wrap col-12 col-sm-4">
							<input type="number" class="form-control calculation-form__weight" placeholder="Вес, кг" required name="CallbackForm[weight]">
						</div>
						<div class="input-wrap col-12 col-sm-4">
							<input type="text" class="form-control" placeholder="Размеры, ШхДхВ" name="CallbackForm[capacity]">
						</div>
						<div class="input-wrap col-12 col-sm-4">
							<input type="text" class="form-control" placeholder="Тип груза" name="CallbackForm[cargo]">
						</div>
						<div class="calculation-form__button col-12 col-sm-4 col-md-3">
							<button type="submit" class="btn js-form-continue">Продолжить</button>
						</div>
					</div>
				</form>
				<form action="#" class="section-calculation__form calculation-form calculation-form--v1-1 _inactive js-form-check">
					<div class="calculation-form__block row">
						<div class="input-wrap col-12 col-sm-4">
							<input type="text" class="form-control calculation-form__item" placeholder="Имя" required name="name">
						</div>
						<div class="input-wrap col-12 col-sm-4">
							<input type="tel" class="form-control calculation-form__item js-phone" placeholder="Телефон" required name="phone">
						</div>
						<div class="input-wrap col-12 col-sm-4">
							<input type="text" class="form-control calculation-form__item" placeholder="Почта">
						</div>
						<div class="input-wrap col-12 col-sm-6 col-md-8">
							<input type="text" class="form-control calculation-form__item" placeholder="Комментарий">
						</div>
						<div class="calculation-form__button col-12 col-sm-6 col-md-3">
							<button type="submit" class="btn">Получить расчет</button>
						</div>
					</div>
				</form>
			{% endif %}

			{% if  params.form_two %}
				<form action="/callback" method="post" class="section-calculation__form calculation-form calculation-form--v2 js-form-check">
					<div class="calculation-form__block">
						<div class="input-wrap">
							<input type="text" class="form-control calculation-form__item" placeholder="Введите имя" required name="CallbackForm[name]">
						</div>
						<div class="input-wrap">
							<input type="number" class="form-control calculation-form__item" placeholder="Введите телефон" required name="CallbackForm[phone]">
						</div>
					</div>
					<input type="hidden" name="CallbackForm[type]" value="back_call">
					<input value="" type="hidden" name="g-recaptcha-response" class="input page-form__input token g-recaptcha">
					<div class="calculation-form__button">
						<button type="submit" class="btn">Отправить</button>
					</div>
				</form>
			{% endif %}

		</div>
	</section>
{% endmacro %}