{% import '/views/macros/section-title.twig' as card %}
{% import '/views/macros/project-item.twig' as item %}

<section class="section-why-us">
	<div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-8">
        		<h2 class="h2 section-title">Почему нас выбирают</h2>
                <p class="section-text">Мы транспортно-экспедиционная компания, работающая в арктических регионах крайнего севера и Дальнего востока. Так же мы можем перевозить грузы по всему миру. Мы фрахтуем корабли и самолеты, но можем отправить и сборный груз в самые отдаленные поселки Чукотки, Якутии, Камчатки и Курильских островов. </p>
                <p class="section-text">В наши услуги входит: хранение, сопровождение, отчеты движения колонн, индивидуальный подход и планирование маршрутов, фактически полный комплекс услуг по перемещению любого груза, в том числе и негабаритного и тяжеловесного.</p>
                <p class="section-text">Работаем с 2011 года. За спиной много сложных перевозок. Например, единовременная перебазировка 52 единиц техники в условиях Заполярья, постоянные фрахты судов, в том числе и воздушных.</p>
                
            </div>
        </div>
	</div>
</section>