{% import '/views/macros/section-title.twig' as card %}

<section class="section-partners">
	<div class="container">
		{{ card.section_title({
            title: 'Нам доверяют'
        }) }}
	</div>
    <div class="section-partners__slider js-partners-slider">
        <div class="partners-item">
            <img data-src="/img/partners/1.png" alt="alt" class="lazyload">
        </div>
        <div class="partners-item">
            <img data-src="/img/partners/2.png" alt="alt" class="lazyload">
        </div>
        <div class="partners-item">
            <img data-src="/img/partners/3.png" alt="alt" class="lazyload">
        </div>
        <div class="partners-item">
            <img data-src="/img/partners/4.png" alt="alt" class="lazyload">
        </div>
        <div class="partners-item">
            <img data-src="/img/partners/5.png" alt="alt" class="lazyload">
        </div>
        <div class="partners-item">
            <img data-src="/img/partners/6.png" alt="alt" class="lazyload">
        </div>
    </div>
</section>