{% import '/views/macros/section-title.twig' as card %}

{% macro section_about (params) %}
	<section class="section-about">
		<div class="container">
			<div class="row">
				<div class="col-lg-10">
					<h2 class="h2 section-title">{{ params.title }}</h2>
					{{ params.content|raw }}
			    {#<p class="section-text">Наша Транспортная Компания  была организована в 2011 году в г. Новосибирске. Ориентированность на работу с Северными регионами компания имела сразу, так как уже к тому времени был опыт перевозок на Чукотку и в Якутию, учредители компании не раз бывали на Севере и знали об этих местах не понаслышке. На сегодняшний день в компании работает молодой коллектив. При приеме на работу логисты проходят обучение и получают информацию по специфике перевозок от “А” до “Я”, после работают стажерами и только после экзамена поступают в штат. Мы дорожим своей командой, поэтому очень внимательно относимся к подбору кадров и к “здоровой” обстановке внутри компании.</p>#}
			    {#<p class="section-text">За годы работы было перевезено огромное количество самых разных грузов в самые отдаленные уголки нашей страны. Перечислять их не вижу смысла, скажу, лишь, что теперь сотни компаний могут назвать нас своим надежным партнером. Со многими сложились дружеские отношения и разработаны специальные условия сотрудничества. Помимо коммерческих структур, мы постоянно осуществляем перевозки для министерства транспорта, госкорпорации Росатом и министерства обороны, являемся партнером Спецсвязи России.</p>#}
			    {#<p class="section-text">На сегодняшний день СЕВЕР спецперевозки – это собственный парк техники, партнерская сеть проверенных агентов по всей стране, консолидационные центры грузов в основных городах страны и, конечно же, прекрасная команда профессионалов, в которой мне посчастливилось работать.</p>#}
			    {#{% if  params.list %}#}
						{#<ul class="site-list site-list--numbered">#}
							{#<li class="section-text">3-тонный универсальный контейнер</li>#}
							{#<li class="section-text">Контейнер</li>#}
							{#<li class="section-text">Тонный универсальный контейнер</li>#}
							{#<li class="section-text">Универсальный контейнер</li>#}
						{#</ul>#}
						{#<ol class="site-list site-list--unnumbered">#}
							{#<li class="section-text">3-тонный универсальный контейнер</li>#}
							{#<li class="section-text">Контейнер</li>#}
							{#<li class="section-text">Тонный универсальный контейнер</li>#}
							{#<li class="section-text">Универсальный контейнер</li>#}
						{#</ol>#}
					{#{% endif %}#}
					
				</div>
				{#{% if  params.img %}#}
					{#<div class="col-lg-12">#}
						{#<div class="section-about__img">#}
							{#<img src={{ params.img }} alt="alt">#}
						{#</div>#}
					{#</div>#}
				{#{% endif %}#}
			</div>
		</div>
	</section>
{% endmacro %}