{% import '/views/macros/section-title.twig' as card %}

<section class="section-price">
	<div class="container">
		{{ card.section_title({
            title: 'Запрос стоимости доставки'
        }) }}
        <div class="section-price__worker price-worker">
            <div class="price-worker__img h-object-fit">
                <img data-src="/img/price/1.png" alt="alt" class="lazyload">
            </div>
            <div class="price-worker__descr">
                <strong class="price-worker__name">Кудрина Дарья</strong>

                <div class="price-worker__item">
                    <p class="section-text">Начальник отдела логистики</p>
                    <p class="section-text">Стаж работы в отрасли – более 10 лет</p>
                </div>

                <div class="price-worker__item">
                    <a class="price-worker__link" href="mailto:conquestdv@gmail.com">conquestdv@gmail.com</a>
                    <br>
                    <a class="price-worker__link" href="tel:+7(383) 280-42-91">+7(383) 280-42-91</a>
                    <br>
                    <a class="price-worker__link" href="tel:+7-905-952-96-46">+7-905-952-96-46</a>
                </div>

                <p class="section-text">Уважаемые клиенты, заполните данную форму и я в кратчайшие сроки рассчитаю стоимость отправки груза, подберу оптимальный маршрут и способ перевозки. Для меня важен каждый ваш запрос.</p>
            </div>
        </div>
        <form class="section-price__form price-form js-form-check" action="/callback" method="post">
            <input name="CallbackForm[cargo]" type="text" class="form-control calculation-form__item" placeholder="Груз" required>
            <input name="CallbackForm[weight]" type="text" class="form-control calculation-form__item" placeholder="Вес" required>
            <input name="CallbackForm[departure]" type="text" class="form-control calculation-form__item" placeholder="Пункт отправления" required>
            <input name="CallbackForm[destination]" type="text" class="form-control calculation-form__item" placeholder="Пункт назначения" required>
            <input name="CallbackForm[capacity]" type="text" class="form-control calculation-form__item" placeholder="Объем" required>
            <input name="CallbackForm[name]" type="text" class="form-control calculation-form__item" placeholder="Компания или ФИО" required>
            <input name="CallbackForm[phone]" type="number" class="form-control calculation-form__item" placeholder="Телефон" required>
            <input name="CallbackForm[email]" type="email" class="form-control calculation-form__item" placeholder="E-mail" required>
            <textarea name="CallbackForm[comment]" class="form-control" placeholder="Сообщение" id="" required></textarea>
            <input type="hidden" name="CallbackForm[type]" value="request">
            <input value="" type="hidden" name="g-recaptcha-response" class="input page-form__input token g-recaptcha">
            <div class="price-form__button">
                <button type="submit" class="btn">Отправить</button>
            </div>
        </form>
	</div>
</section>