{% extends '/views/base.twig' %}
{% import '/views/macros/eventcard.twig' as card %}
{% import '/views/layouts/section-calculation.twig' as item %}
{% block content %}

    {% include '/views/layouts/main-banner.twig' %}
    {% include '/views/site/blocks/directions.twig' with {'items': app.controller.getDirections() } %}
    {{ item.section_calculation({
        custom_class: 'section-calculation section-target',
        title: 'Расчет перевозки',
        form_one: true
    }) }}
    {% include '/views/site/blocks/services.twig' %}
    {% include '/views/layouts/section-why-us.twig' %}
	{{ this.widget('application.widgets.SliderWidget', { 'sliderId': 5, 'view': 'trust'}, true) | raw }}
    {{ item.section_calculation({
        custom_class: 'section-calculation section-calculation--delivery',
        title: 'Заказать перевозку',
        subtitle: 'Заполните форму и мы свяжемся с Вами в ближайшее время',
        form_two: true
    }) }}
	{% include '/views/site/blocks/projects.twig' with {'projects': app.controller.getProjects() } %}
    {% include '/views/layouts/section-advantages.twig' %}
    {% include '/views/layouts/section-about.twig' %}

{% endblock %}