{% autoescape false %}
	{% if app.user.hasFlash('success') %}
		<div class="alert alert-success">
			{{ app.user.getFlash('success') }}
		</div>
	{% endif %}
	{% if app.user.hasFlash('failed') %}
		<div class="alert alert-danger">
			{{ C.Html.errorSummary(faq) }}
		</div>
	{% endif %}

	{{ C.Html.form('', 'post', { 'class': 'form-horizontal', 'enctype': 'multipart/form-data', 'style': 'margin: 0' }) }}
		<div class="row">
			<div class="col-md-12">
				<div class="widget box">
					<div class="widget-header">
						<h4><i class="icon-reorder"></i> Основное</h4>
					</div>
					<div class="widget-content">
						<div class="form-group {{ faq.getError('slug') ? 'has-error' }}">
							{{ C.Html.activeLabel(faq, 'active', { 'class': 'col-md-2 control-label' }) }}
							<div class="col-md-6">
								{{ C.Html.activeCheckbox(faq, 'active') }}
							</div>
						</div>
						<div class="form-group {{ faq.getError('position') ? 'has-error' }}">
							{{ C.Html.activeLabel(faq, 'position', { 'class': 'col-md-2 control-label' }) }}
							<div class="col-md-6">
								{{ C.Html.activeTextField(faq, 'position', { 'class': 'form-control' }) }}
							</div>
						</div>
						<div class="form-group {{ faq.getError('question') ? 'has-error' }}">
							{{ C.Html.activeLabel(faq, 'question', { 'class': 'col-md-2 control-label' }) }}
							<div class="col-md-6">
								{{ C.Html.activeTextArea(faq, 'question', { 'class': 'form-control' }) }}
							</div>
						</div>
						<div class="form-group {{ faq.getError('answer') ? 'has-error' }}">
							{{ C.Html.activeLabel(faq, 'answer', { 'class': 'col-md-2 control-label' }) }}
							<div class="col-md-6">
								{{ C.Html.activeTextArea(faq, 'answer', { 'class': 'form-control' }) }}
							</div>
						</div>
						{#<div class="form-group {{ article.getError('text') ? 'has-error' }}">#}
							{#{{ C.Html.activeLabel(article, 'text', { 'class': 'col-md-2 control-label' }) }}#}
							{#<div class="col-md-6">#}
								{#{{ app.controller.widget('CKEditor', {#}
									{#'model': article,#}
									{#'attribute': 'text',#}
									{#'language': 'ru',#}
									{#'editorTemplate': 'full',#}
								{#}, true) | raw }}#}
							{#</div>#}
						{#</div>#}
					</div>
				</div>
			</div>
		</div>
		{{ C.Html.submitButton('Сохранить', { 'class': 'btn btn-primary' }) }}
	{{ C.Html.endForm() }}
{% endautoescape %}