{% macro advantage_item (params) %}

    <div class="advantage-item">
        <h3 class="h3 advantage-item__title collapsed" data-mobCollapseId='#{{ params.custom_id }}'>{{ params.title }}</h3>
        <p 
        	{% if params.custom_id %} id="{{ params.custom_id }}"{% endif %} 
        	{% if params.custom_class %} class="{{ params.custom_class }}"{% endif %} >
        	{{ params.descr }}
      	</p>
    </div>

{% endmacro %}