{% macro breadcrumbs (params) %}

    <div class="breadcrumbs">
        <div class="container">
        	<ul class="breadcrumbs-list">
        		{% for item in params.list %}
		            <li class="breadcrumbs-list__item">
		            	<a class="breadcrumbs-list__link" href="{{ item.url }}">{{ item.caption }}</a>
		            </li>
		        {% endfor %}
        	</ul>
        </div>
    </div>

{% endmacro %}