{% macro eventcard (params) %}
    <article class="event-card">
        <img class="event-card__img lazyload" data-src="{{ params.link }}" alt="">
        <p class="event-card__name  title-h5">{{ params.name }}</p>
        <p class="event-card__date  title-h5">{{ params.date }} <span>{{ params.week }}. {{ params.time }}</span></p>
        <div class="event-card__inner">
            <svg class="icon-svg _pin">
                <use xlink:href="#pin"/>
            </svg>
            <p class="event-card__room">{{ params.room }}</p>
        </div>
        <a class="btn _nobg  event-card__link" href="#">Купить билетыd</a>
    </article>
{% endmacro %}