{% macro build(items, i) %}
	{% if i == 0 %}
	<nav class="site-menu-nav js-mobile-nav">
		<ul class="site-menu">
	{% else %}
		<ul class="submenu {% if i == 1 %}js-directions{% endif %}">
	    {% if i == 2 %}
	        <p class="submenu__wrap-subtitle">Список городов</p>
	    {% endif %}
	{% endif %}
		{% for item in items %}
			<li class="site-menu__item {% if item.subMenu %}more{% endif %}">
				<a href="{{ item.url }}" class="site-menu__link {% if item.url == 'javascript:;' %}active{% endif %}">{{ item.title }}</a>
				<button class="site-menu__arrow"></button>
				{% if item.subMenu %}
				    <div class="submenu__wrap">
                        {% if item.showSearchBar %}
                            <p class="submenu__wrap-title">
                                <input class="js-search__direction" type="text" placeholder="Я ищу...">
                                    <svg class="icon-svg">
                                            <use xlink:href="#lupe"/>
                                    </svg>
                            </p>
                        {% endif %}
                        {% if item.showMoreDirections %}
                            <button class="site-menu__item-look-all">Показать все направления</button>
                        {% endif %}
                        {{ _self.build(item.subMenu, i+1) }}
					</div>
				{% endif %}
			</li>
		{% endfor %}
	{% if i == 0 %}
			<li class="close-menu">
				<button type="button" class=" js-close-menu">
					<svg class="icon-svg _close">
						<use xlink:href="#close"/>
					</svg>
				</button>
			</li>
			<li class="site-menu__item mobile-contacts"></li>
		</ul>
	</nav>
	{% else %}
	</ul>
	{% endif %}
{% endmacro %}