{% macro services_item (params) %}
	<a href="{{ params.url }}" class="services-item h-object-fit">
		<img data-src="{{ params.img }}" alt="alt" class="lazyload">
		{% if online == false %}
	    <p>Our website is in maintenance mode. Please, come back later.</p>
		{% endif %}
		<h3 class="h3 services-item__title">{{ params.title }}</h3>
	</a>
{% endmacro %}