{% import '/views/macros/services-item.twig' as delivery %}
{% if items %}
	<section class="section-directions">
		<div class="section-directions__wrap">
			{% for ch in items[0:3] %}
				{{
				delivery.services_item({
					img: ch.getPreviewImage(),
					title: ch.title,
					url: ch.getUrl()
				})
				}}
			{% endfor %}
			{% if route.getChildRoutes()|length > 3 %}
				{{
				delivery.services_item({
					img: '/img/services/14.png',
					title: 'Показать все населенные пункты'
				})
				}}
			{% endif %}
			{% for ch in items[3:100] %}
				{{
				delivery.services_item({
					img: ch.getPreviewImage(),
					title: ch.title,
					url: ch.getUrl()
				})
				}}
			{% endfor %}
		</div>
	</section>
{% endif %}