{% import '/views/macros/section-title.twig' as card %}
{% import '/views/macros/services-item.twig' as item %}
{% if app.controller.getServices() %}
	<section class="section-services">
		<div class="container">
			{{ card.section_title({
				title: 'Основные услуги'
			}) }}
		</div>
		<div class="section-services__wrap">
			{% for ch in app.controller.getServices() %}
				{{ item.services_item({
					img: ch.getPreviewImage(),
					title: ch.title,
					url: ch.getUrl()
				}) }}
			{% endfor %}
			{% if app.controller.getServices()|length == 3 %}
				{{ item.services_item({
					img: '/img/services/4.png',
					title: 'Показать больше направлений',
					url: '/services'
				}) }}
			{% endif %}
		</div>
	</section>
{% endif %}