{% extends '/views/base.twig' %}
{#{% block title %}Проекты{% endblock %}#}
{% block content %}

    {% include '/views/layouts/projects-banner.twig' %}
    {% include '/views/layouts/projects.twig' %}

{% endblock %}