{% extends '/views/base.twig' %}
{% import '/views/macros/breadcrumbs.twig' as card %}
{% import '/views/macros/section-title.twig' as title %}
{% import '/views/macros/advantage-item.twig' as item %}
{% import '/views/layouts/section-about.twig' as about %}
{% import '/views/macros/project-item.twig' as projectMacros %}
{% block title %}{{ project.title }}{% endblock %}
{% block content %}
    <div class="page-wrapper">

        {{ card.breadcrumbs({
            list: [
                {
                    caption: 'Главная',
                    url: '/'
                },
		        {
			        caption: 'О нас',
			        url: '/about'
		        },
                {
                    caption: 'Выполненные проекты',
                    url: '/about/projects'
                },
                {
                    caption: project.title,
                    url: 'javascript:;'
                }
            ]
        }) }}

        <section class="project">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10">
                        <h2 class="h2">{{ project.title }}</h2>
                    </div>
                    <div class="col-lg-10">
                        <div class="project__img h-object-fit">
                            <img data-src="/img/projects/6.png" alt="alt" class="lazyload">
                        </div>
                        <p class="section-text"><span>Груз:</span> {{ project.goods }}</p>
                        <p class="section-text"><span>Откуда:</span> {{ project.from }}</p>
                        <p class="section-text"><span>Куда:</span> {{ project.to }}</p>
                        <p class="section-text"><span>Заказчик:</span> {{ project.customer }}</p>
                        <p class="section-text"><span>Особенности перевозки:</span> {{ project.features }}</p>
	                    {{ project.description | raw }}
                    </div>
                </div>
            </div>
        </section>

	    {% include '/views/projects/blocks/other_projects.twig' %}

    </div>

{% endblock %}