{% extends '/views/base.twig' %}
{% import '/views/macros/breadcrumbs.twig' as card %}
{% import '/views/layouts/section-about.twig' as about %}
{% import '/views/macros/services-item.twig' as delivery %}

{% block content %}
	<div class="page-wrapper">
		{{ card.breadcrumbs({
			list: [
				{
					caption: 'Главная',
					url: '/'
				},
				{
					caption: this.pageTitle,
					url: 'javascript:;'
				}
			]
		}) }}

		{{ about.section_about({
			title: page.title,
			img: '/img/about/about.png',
			content: page.content
		}) }}



		<section class="section-directions">
			<div class="section-directions__wrap">
				{% for ch in services %}
					{{
					delivery.services_item({
						img: ch.getPreviewImage(),
						title: ch.title,
						url: ch.getUrl()
					})
					}}
				{% endfor %}
			</div>
		</section>

	</div>
{% endblock %}