{% macro build(services) %}
	{% for service in services %}
		<li class="dd-item dd3-item" data-id="{{ service.id }}">
			<div class="dd-handle dd3-handle">{{ service.title }}</div>
			<div class="dd3-content">
				<a href="{{ service.getUrl() }}">{{ service.title }} </a>
				<a href="{{ app.createUrl('/admin/deliveryRoutes/add', {'root': service.id}) }}" class="btn btn-xs"><i class="icon-plus"></i></a>
				<a href="{{ app.createUrl('/admin/deliveryRoutes/edit', {'root': service.id}) }}" class="btn btn-xs"><i class="icon-edit"></i></a>
				<a href="{{ app.createUrl('/admin/deliveryRoutes/delete', {'root': service.id}) }}"
				   onclick="if(!confirm('Вы действительно хотите удалить {{ item.name }}?')) return false;"
				   class="btn btn-xs"><i class="icon-remove"></i></a>
			</div>
			<div class="dd-handle dd3-handle"></div>
			{% if service.children().findAll() %}
				<ol class="dd-list">
					{{ _self.build(service.children().findAll()) }}
				</ol>
			{% endif %}
		</li>
	{% endfor %}
{% endmacro %}