{% extends 'modules/admin/views/layouts/main.twig' %}

{% set title = this.setPageTitle(title) %}
{% set bread = this.setBreadCrumbs({ 'Бренды': '/admin/services/index', 'Редактирование бренда': ''}) %}
{% block content %}
	<div class="row">
		<div class="col-md-12">
			{% autoescape false %}
				{{ C.Html.errorSummary(service) }}
				{{ C.Html.statefulForm('', 'post', { 'class': 'form-horizontal', 'enctype': 'multipart/form-data'}) }}
				<div class="form-group {{ service.getError('active') ? 'has-error' }}">
					{{ C.Html.activeLabel(service, 'active', { 'class': 'col-md-2 control-label' }) }}
					<div class="col-md-6">
						{{ C.Html.activeCheckBox(service, 'active', { 'class': '' }) }}
					</div>
				</div>
				<div class="form-group {{ service.getError('title') ? 'has-error' }}">
					{{ C.Html.activeLabel(service, 'title', { 'class': 'col-md-2 control-label' }) }}
					<div class="col-md-6">
						{{ C.Html.activeTextField(service, 'title', { 'class': 'form-control' }) }}
					</div>
				</div>
				<div class="form-group {{ service.getError('menuTitle') ? 'has-error' }}">
					{{ C.Html.activeLabel(service, 'menuTitle', { 'class': 'col-md-2 control-label' }) }}
					<div class="col-md-6">
						{{ C.Html.activeTextField(service, 'menuTitle', { 'class': 'form-control' }) }}
					</div>
				</div>
				<div class="form-group {{ service.getError('description') ? 'has-error' }}">
					{{ C.Html.activeLabel(service, 'description', { 'class': 'col-md-2 control-label' }) }}
					<div class="col-md-10">
						{{ app.controller.widget('CKEditor', {
							'model': service,
							'attribute': 'description',
							'language': 'ru',
							'editorTemplate': 'full',
						}, true) | raw }}
					</div>
				</div>
				<div class="form-group {{ service.getError('metaTitle') ? 'has-error' }}">
					{{ C.Html.activeLabel(service, 'metaTitle', { 'class': 'col-md-2 control-label' }) }}
					<div class="col-md-6">
						{{ C.Html.activeTextField(service, 'metaTitle', { 'class': 'form-control' }) }}
					</div>
				</div>
				<div class="form-group {{ service.getError('metaDescription') ? 'has-error' }}">
					{{ C.Html.activeLabel(service, 'metaDescription', { 'class': 'col-md-2 control-label' }) }}
					<div class="col-md-6">
						{{ C.Html.activeTextArea(service, 'metaDescription', { 'class': 'form-control', 'rows': 3, 'cols': 5 }) }}
					</div>
				</div>
				<div class="form-group {{ service.getError('image') ? 'has-error' }}">
					{{ C.Html.activeLabel(service, 'image', { 'class': 'col-md-2 control-label' }) }}
					<div class="col-md-6">
						{{ C.Html.activeFileField(service, 'image', { 'class': 'form-control' }) }}
					</div>
				</div>
				<div class="form-group {{ service.getError('slug') ? 'has-error' }}">
					{{ C.Html.activeLabel(service, 'slug', { 'class': 'col-md-2 control-label' }) }}
					<div class="col-md-6">
						<div class="input-group">
								<span class="input-group-btn">
									<button class="btn btn-default" type="button">{{ app.controller.createAbsoluteUrl('/') }}{{ service.parentUrl }}</button>
								</span>
							{{ C.Html.activeTextField(service, 'slug', { 'class': 'form-control' }) }}
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-6 col-md-offset-2">
						{{ C.Html.submitButton('Сохранить', { 'class': 'btn btn-primary js-prices-save-button' }) }}
					</div>
				</div>
				{{ C.Html.endForm() }}
			{% endautoescape %}
		</div>
	</div>
{% endblock %}
