{{ C.Html.activeHiddenField(service, 'deliveryMethods', { 'class': 'js-delivery-methods-json' }) | raw }}
<div class="form-group js-delivery-methods">
	<div class="row js-delivery-method">
		<div class="col-md-5">
			<input type="text" class="form-control js-delivery-method-name">
			<span class="help-block">Метод доставки</span>
		</div>
		<div class="col-md-5">
			<textarea rows="5" cols="5" class="form-control js-delivery-method-description"></textarea>
			<span class="help-block align-right">Описание</span>
		</div>
		<div class="col-md-2">
			<button class="btn btn-sm btn-danger js-delivery-method-delete">Удалить</button>
		</div>
	</div>
</div>
<div class="btn-toolbar">
	<button id="btn-load" class="btn btn-primary js-delivery-method-add">Добавить метод доставки</button>
</div>