{{ C.Html.activeHiddenField(service, 'headerBlocks', { 'class': 'js-header-blocks-json' }) | raw }}
<div class="form-group js-header-blocks">
	<div class="row js-header-block">
		<div class="col-md-5">
			<input type="text" class="form-control js-header-block-img">
			<span class="help-block">Svg</span>
		</div>
		<div class="col-md-5">
			<input type="text" class="form-control js-header-block-text">
			<span class="help-block align-right">Текст</span>
		</div>
		<div class="col-md-2">
			<button class="btn btn-sm btn-danger js-header-block-delete">Удалить</button>
		</div>
	</div>
</div>
<div class="btn-toolbar">
	<button id="btn-load" class="btn btn-primary js-header-block-add">Добавить блок в шапку</button>
</div>