{% autoescape false %}
	{{ C.Html.activeHiddenField(service, 'markLists', { 'class': 'js-mark-lists-json' }) }}
	<div class="form-group row {{ service.getError('markImage') ? 'has-error' }}">
		{{ C.Html.activeLabel(service, 'markImage', { 'class': 'col-md-2 control-label' }) }}
		<div class="col-md-6">
			{{ C.Html.activeFileField(service, 'markImage', { 'class': 'form-control' }) }}
			{% if not service.hasMarkImage() %}
				<div>
					<div class="clearfix">
						{{ C.Html.image(service.getMarkImage(), '', { 'class': 'img-thumbnail', 'style': 'margin: 15px 0 5px; width: 150px;' })|raw }}
					</div>
				</div>
			{% endif %}
		</div>
	</div>
	<div class="form-group">
		<div class="row js-mark-lists js-mark-list-blocks">
			<div class="col-md-6 js-mark-list-block-col">
				<div class="input-group js-mark-list-block">
					<input type="text" class="form-control js-mark-list-text">
					<span class="input-group-btn">
						<button class="btn btn-default js-mark-list-delete" type="button"><i class="icon-remove"></i></button>
					</span>
				</div>
				<button class="btn btn-sm btn-primary js-mark-list-add">Добавить</button>
			</div>
			<div class="col-md-6 js-mark-list-block-col">
				<div class="input-group js-mark-list-block">
					<input type="text" class="form-control js-mark-list-text">
					<span class="input-group-btn">
						<button class="btn btn-default js-mark-list-delete" type="button"><i class="icon-remove"></i></button>
					</span>
				</div>
				<button class="btn btn-sm btn-primary js-mark-list-add">Добавить</button>
			</div>
		</div>
	</div>
{% endautoescape %}