{% extends 'modules/admin/views/layouts/main.twig' %}

{% set title = this.setPageTitle(title) %}
{% set bread = this.setBreadCrumbs({ 'Регионы доставки': '/admin/deliveryRoutes/index', (title): ''}) %}
{% block content %}
{% autoescape false %}
	<div class="widget box">
		<div class="widget-header">
			{#<h4><i class="icon-reorder"></i> Inline Tabs</h4>#}
			{#<div class="toolbar no-padding">#}
				{#<div class="btn-group"> <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span> </div>#}
			{#</div>#}
		</div>
		<div class="widget-content">
			<div class="row">
				<div class="col-md-12">
					{{ C.Html.errorSummary(service) }}
					{{ C.Html.statefulForm('', 'post', { 'class': 'form-horizontal', 'enctype': 'multipart/form-data'}) }}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="tabbable tabbable-custom tabs-left">
						<ul class="nav nav-tabs tabs-left">
							<li class="active"><a href="#main" data-toggle="tab">Основные данные</a></li>
							<li><a href="#table" data-toggle="tab">Таблица</a></li>
							<li><a href="#deliveryMethods" data-toggle="tab">Способы доставки</a></li>
							<li><a href="#headerBlocks" data-toggle="tab">Блоки в шапке</a></li>
							<li><a href="#markLists" data-toggle="tab">Маркированные списки</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="main" style="min-height: 118px;">
								<div class="form-group row {{ service.getError('slug') ? 'has-error' }}">
									{{ C.Html.activeLabel(service, 'slug', { 'class': 'col-md-2 control-label' }) }}
									<div class="col-md-6">
										<div class="input-group">
									<span class="input-group-btn">
										<button class="btn btn-default" type="button">{{ app.controller.createAbsoluteUrl('/') }}{{ service.parentUrl }}</button>
									</span>
											{{ C.Html.activeTextField(service, 'slug', { 'class': 'form-control' }) }}
										</div>
									</div>
								</div>
								<div class="form-group row {{ service.getError('type') ? 'has-error' }}">
									{{ C.Html.activeLabel(service, 'type', { 'class': 'col-md-2 control-label' }) }}
									<div class="col-md-6">
										{{ C.Html.activeDropDownList(service, 'type', service.getTypes(), { 'class': '' }) }}
									</div>
								</div>
								<div class="form-group row {{ service.getError('active') ? 'has-error' }}">
									{{ C.Html.activeLabel(service, 'active', { 'class': 'col-md-2 control-label' }) }}
									<div class="col-md-6">
										{{ C.Html.activeCheckBox(service, 'active', { 'class': '' }) }}
									</div>
								</div>
								<div class="form-group row {{ service.getError('showOnMainPage') ? 'has-error' }}">
									{{ C.Html.activeLabel(service, 'showOnMainPage', { 'class': 'col-md-2 control-label' }) }}
									<div class="col-md-6">
										{{ C.Html.activeCheckBox(service, 'showOnMainPage', { 'class': '' }) }}
									</div>
								</div>
								<div class="form-group row {{ service.getError('title') ? 'has-error' }}">
									{{ C.Html.activeLabel(service, 'title', { 'class': 'col-md-2 control-label' }) }}
									<div class="col-md-6">
										{{ C.Html.activeTextField(service, 'title', { 'class': 'form-control' }) }}
									</div>
								</div>
								<div class="form-group row {{ service.getError('menuTitle') ? 'has-error' }}">
									{{ C.Html.activeLabel(service, 'menuTitle', { 'class': 'col-md-2 control-label' }) }}
									<div class="col-md-6">
										{{ C.Html.activeTextField(service, 'menuTitle', { 'class': 'form-control' }) }}
									</div>
								</div>
								<div class="form-group row {{ service.getError('seoKeyWords') ? 'has-error' }}">
									{{ C.Html.activeLabel(service, 'seoKeyWords', { 'class': 'col-md-2 control-label' }) }}
									<div class="col-md-6">
										{{ C.Html.activeTextField(service, 'seoKeyWords', { 'class': 'form-control' }) }}
									</div>
								</div>
								<div class="form-group row {{ service.getError('seoTextTitle') ? 'has-error' }}">
									{{ C.Html.activeLabel(service, 'seoTextTitle', { 'class': 'col-md-2 control-label' }) }}
									<div class="col-md-6">
										{{ C.Html.activeTextField(service, 'seoTextTitle', { 'class': 'form-control' }) }}
									</div>
								</div>
								<div class="form-group row {{ service.getError('seoText') ? 'has-error' }}">
									{{ C.Html.activeLabel(service, 'seoText', { 'class': 'col-md-2 control-label' }) }}
									<div class="col-md-6">
										{{ app.controller.widget('CKEditor', {
											'model': service,
											'attribute': 'seoText',
											'language': 'ru',
											'editorTemplate': 'full',
										}, true) | raw }}
									</div>
								</div>
								<div class="form-group row {{ service.getError('whatDelivery') ? 'has-error' }}">
									{{ C.Html.activeLabel(service, 'whatDelivery', { 'class': 'col-md-2 control-label' }) }}
									<div class="col-md-6">
										{{ app.controller.widget('CKEditor', {
											'model': service,
											'attribute': 'whatDelivery',
											'language': 'ru',
											'editorTemplate': 'full',
										}, true) | raw }}
									</div>
								</div>
								<div class="form-group row {{ service.getError('metaTitle') ? 'has-error' }}">
									{{ C.Html.activeLabel(service, 'metaTitle', { 'class': 'col-md-2 control-label' }) }}
									<div class="col-md-6">
										{{ C.Html.activeTextField(service, 'metaTitle', { 'class': 'form-control' }) }}
									</div>
								</div>
								<div class="form-group row {{ service.getError('metaDescription') ? 'has-error' }}">
									{{ C.Html.activeLabel(service, 'metaDescription', { 'class': 'col-md-2 control-label' }) }}
									<div class="col-md-6">
										{{ C.Html.activeTextArea(service, 'metaDescription', { 'class': 'form-control', 'rows': 3, 'cols': 5 }) }}
									</div>
								</div>
								<div class="form-group row {{ service.getError('image') ? 'has-error' }}">
									{{ C.Html.activeLabel(service, 'image', { 'class': 'col-md-2 control-label' }) }}
									<div class="col-md-6">
										{{ C.Html.activeFileField(service, 'image', { 'class': 'form-control' }) }}
										{% if not service.hasBgImage() %}
											<div>
												<div class="clearfix">
													{{ C.Html.image(service.getBgImage(), '', { 'class': 'img-thumbnail', 'style': 'margin: 15px 0 5px; width: 150px;' })|raw }}
												</div>
											</div>
										{% endif %}
									</div>
								</div>
								<div class="form-group row {{ service.getError('pImage') ? 'has-error' }}">
									{{ C.Html.activeLabel(service, 'pImage', { 'class': 'col-md-2 control-label' }) }}
									<div class="col-md-6">
										{{ C.Html.activeFileField(service, 'pImage', { 'class': 'form-control' }) }}
										{% if not service.hasPreviewImage() %}
											<div>
												<div class="clearfix">
													{{ C.Html.image(service.getPreviewImage(), '', { 'class': 'img-thumbnail', 'style': 'margin: 15px 0 5px; width: 150px;' })|raw }}
												</div>
											</div>
										{% endif %}
									</div>
								</div>

							</div>
							<div class="tab-pane" id="table" style="min-height: 118px;">
								{% include 'modules/admin/views/deliveryRoutes/table_builder.twig' %}
							</div>
							<div class="tab-pane" id="deliveryMethods" style="min-height: 118px;">
								{% include 'modules/admin/views/deliveryRoutes/delivery_methods.twig' %}
							</div>
							<div class="tab-pane" id="headerBlocks" style="min-height: 118px;">
								{% include 'modules/admin/views/deliveryRoutes/header_blocks.twig' %}
							</div>
							<div class="tab-pane" id="markLists" style="min-height: 118px;">
								{% include 'modules/admin/views/deliveryRoutes/mark_list.twig' %}
							</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<div class="col-md-6 col-md-offset-2">
						{{ C.Html.submitButton('Сохранить', { 'class': 'btn btn-primary js-prices-save-button' }) }}
					</div>
				</div>
				{{ C.Html.endForm() }}
			</div>
		</div>
	</div>

{% endautoescape %}
{% endblock %}
