<div class="form-group row {{ service.getError('priceTableTitle') ? 'has-error' }}">
	{{ C.Html.activeLabel(service, 'priceTableTitle', { 'class': 'col-md-2 control-label' }) | raw }}
	<div class="col-md-6">
		{{ C.Html.activeTextField(service, 'priceTableTitle', { 'class': 'form-control' }) | raw }}
	</div>
</div>
<p>Shift+a/insert - добавить строку</p>
<p>Delete - удалить выбранную строку</p>
<p>Shift+m - объединить в разделитель выбранную строку</p>
<p>Двойной клик - выбрать строку</p>
{{ C.Html.activeHiddenField(service, 'table', { 'class': 'js-table-json' }) | raw }}
<div class="form-group row {{ service.getError('showParentTable') ? 'has-error' }}">
	{{ C.Html.activeLabel(service, 'showParentTable', { 'class': 'col-md-2 control-label' }) | raw  }}
	<div class="col-md-6">
		{{ C.Html.activeCheckBox(service, 'showParentTable', { 'class': '' })  | raw }}
	</div>
</div>
<input type="text" class="js-thead" value="" style="display: none;">
<table class="js-table-builder table table-bordered table-striped">
</table>
<div class="form-group row {{ service.getError('priceTableText') ? 'has-error' }}">
	{{ C.Html.activeLabel(service, 'priceTableText', { 'class': 'col-md-2 control-label' })  | raw }}
	<div class="col-md-6">
		{{ app.controller.widget('CKEditor', {
			'model': service,
			'attribute': 'priceTableText',
			'language': 'ru',
			'editorTemplate': 'full',
		}, true) | raw }}
	</div>
</div>
<div class="form-group {{ service.getError('priceFile') ? 'has-error' }}">
	{{ C.Html.activeLabel(service, 'priceFile', { 'class': 'col-md-2 control-label' }) | raw }}
	<div class="col-md-6">
		{{ C.Html.activeFileField(service, 'priceFile', { 'class': 'form-control' }) | raw }}
	</div>
</div>
{% if service.getFile() %}
	<div class="form-group">
		<a href="{{ service.getFile() }}">Скачать</a>
		<a href="#" onclick="$.ajax('{{ app.controller.createUrl('/admin/deliveryRoutes/deleteFile', {'id': service.id}) }}');$(this).closest('div').remove();return false; ">Удалить</a>
	</div>
{% endif %}