{% import '/views/macros/section-title.twig' as card %}
{% if slider.sliderActiveItems %}
	<section class="section-partners">
		<div class="container">
			{{ card.section_title({
				title: 'Нам доверяют'
			}) }}
		</div>
		<div class="section-partners__slider js-partners-slider">
			{% for slide in slider.sliderActiveItems %}
				<div class="partners-item">
					<img src="{{ slide.getImage }}">
				</div>
			{% endfor %}
		</div>
	</section>
{% endif %}