{% extends '/views/base.twig' %}
{% import '/views/macros/breadcrumbs.twig' as card %}
{% import '/views/layouts/card-banner.twig' as banner %}
{% import '/views/layouts/section-calculation.twig' as calculation %}
{% import '/views/macros/section-title.twig' as title %}
{% import '/views/macros/advantage-item.twig' as item %}
{% block content %}

    {{ banner.card_banner({
    	custom_class: 'card-banner',
	    bg: route.getBgImage,
	    title: route.title,
        items: route.getHeaderBlocks(),
        button: 'Расчитать стоимость доставки'
    }) }}

    {{ card.breadcrumbs({
        list: [
            {
                caption: 'Главная'
            },
            {
                caption: route.parent().find().menuTitle ? route.parent().find().menuTitle : route.parent().find().title,
	            url: route.parent().find().getUrl()
            },
            {
	            caption: route.menuTitle ? route.menuTitle : route.title,
	            url: 'javascript:;'
            }
        ]
    }) }}

	{% if route.whatDelivery %}
		<section class="what-transport">
			<div class="container">
				{{ route.whatDelivery|raw }}
			</div>
		</section>
	{% endif %}

	{% include '/views/delivery/blocks/table.twig' %}

	{% include '/views/delivery/blocks/delivery_services.twig' %}

    {{ calculation.section_calculation({
        custom_class: 'section-calculation section-target ',
        title: 'Расчет перевозки',
        form_one: true,
	    destination_value: route.menuTitle
    }) }}

	{% include '/views/delivery/blocks/directions.twig' with {'items': route.getOtherRoutes()} %}

	{% include '/views/delivery/blocks/delivery_methods.twig' %}

	{% if route.seoTextTitle %}
		<section  class="section-seo">
			<div class="container">
				{{ title.section_title({
					title: route.seoTextTitle
				}) }}
				<p>
					{{ route.seoText }}
				</p>
			</div>
		</section>
	{% endif %}

    {{ calculation.section_calculation({
        custom_class: 'section-calculation section-calculation--delivery',
        title: 'Остались вопросы?',
        subtitle: 'Заполните форму и мы свяжемся с Вами в ближайшее время',
        form_two: true
    }) }}  

    {% include '/views/delivery/blocks/projects.twig' %}

{% endblock %}