<table class="table table-striped table-bordered">
	<thead>
		<tr role="row">
			<th>#</th>
			<th>Имя</th>
			<th>Контакты</th>
			{#<th>Категория</th>#}
			{#<th>Продукт</th>#}
			{#<th>Файл</th>#}
			<th>Коментарий</th>
			<th>Действие</th>
		</tr>
	</thead>
	<tbody>
		{% for request in data %}
			<tr>
				<td>{{ request.id }}</td>
				<td>{{ request.name }}</td>
				<td>{{ request.phone }} / {{ request.email }}</td>
				{#<td>{{ request.category }}</td>#}
				{#<td>{{ request.product }}</td>#}
				<td>{{ request.comment }}</td>
				<td>
					<button class="btn btn-danger js-request-delete" data-id="{{ request.id }}">Удалить</button>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>