{% extends 'modules/admin/views/layouts/main.twig' %}

{% set title = this.setPageTitle(items.description) %}
{% set bread = this.setBreadCrumbs({ 'Заявки пользователей': ''}) %}
{% block content %}
	<div class="row">
		<div class="col-md-12">
			<div class="tabbable tabbable-custom">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#requests" data-toggle="tab">Заявки</a></li>
					<li class=""><a href="#back_call" data-toggle="tab">Обратный звонок</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="requests">
						{% include 'modules/admin/views/requests/_table.twig' with {'data': data.request } | raw %}
					</div>
					<div class="tab-pane" id="back_call">
						{% include 'modules/admin/views/requests/_short_table.twig' with {'data': data.back_call } | raw %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}