{% extends 'modules/admin/views/layouts/main.twig' %}

{% block content %}
	{% if form %}
		{% autoescape false %}
		{% if app.user.hasFlash('success') %}
			<div class="alert alert-success">
				{{ app.user.getFlash('success') }}
			</div>
		{% endif %}
		{% if form.hasErrors() %}
			<div class="alert alert-danger">
				{{ C.Html.errorSummary(form) }}
			</div>
		{% endif %}
		{% if error %}
			<div class="alert alert-danger">
				<p>{{ error }}</p>
			</div>
		{% endif %}
		{{ C.Html.form('', 'post', { 'class': 'form-horizontal', 'enctype': 'multipart/form-data', 'style': 'margin: 0' }) }}
		<div class="row">
			<div class="col-md-12">
				<div class="widget box">
					<div class="widget-content">
						<div class="form-group {{ form.getError('login') ? 'has-error' }}">
							{{ C.Html.activeLabel(form, 'login', { 'class': 'col-md-2 control-label' }) }}
							<div class="col-md-6">
								{{ C.Html.activeTextField(form, 'login', { 'class': 'form-control' }) }}
							</div>
						</div>
						<div class="form-group {{ form.getError('password') ? 'has-error' }}">
							{{ C.Html.activeLabel(form, 'password', { 'class': 'col-md-2 control-label' }) }}
							<div class="col-md-6">
								{{ C.Html.activeTextField(form, 'password', { 'class': 'form-control' }) }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{ C.Html.submitButton('Войти', { 'class': 'btn btn-primary js-catalog-save-button' }) }}
		{{ C.Html.endForm() }}
		{% endautoescape %}
	{% endif %}
{% endblock %}