{% extends 'modules/admin/views/layouts/main.twig' %}

{% set title = this.setPageTitle('Пользователи') %}
{% set bread = this.setBreadCrumbs({ 'Пользователи': '/admin/users' }) %}

{% block content %}

{% include 'modules/admin/views/users/_filter.twig' with {
    'roles': roles,
    'role': role
} only %}

<table class="table table-hover table-striped table-bordered table-highlight-head">
    <thead>
    <tr>
        <th width="5%">id</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Почта</th>
        <th>Соц. сеть</th>
        <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    {% for item in provider.getData() %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.lastName }}</td>
            <td>
                {% if item.email %}
                    {{ item.email }} <span class="label {{ item.emailActive ? 'label-success' : 'label-default' }}">{{ item.emailActive ? 'подтверждена' : 'не подтверждена' }}</span>
                {% endif %}
            </td>
            <td>{{ item.social }}</td>
            <td>
                <a href="{{ app.createUrl('/admin/users/update', { id: item.id }) }}" class="btn btn-xs"><i class="icon-edit"></i></a>
                <a href="{{ app.createUrl('/admin/users/delete', { id: item.id }) }}" class="btn btn-xs"><i class="icon-remove"></i></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% if provider.pagination.pageCount > 0 %}
    <div class="row">
        <div class="table-footer">
            <div class="col-md-6 col-md-offset-6">
                {{ this.widget('ALinkPager', { pages: provider.pagination }, true) | raw }}
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}