{% extends 'modules/admin/views/layouts/main.twig' %}

{% set title = this.setPageTitle('Редактирование пользователя') %}
{% set bread = this.setBreadCrumbs({ 'Пользователи': '/admin/users', 'Редактирование пользователя': '/' ~ app.request.getPathInfo() }) %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% autoescape false %}
                {{ C.Html.form('', 'post', { 'class': 'form-horizontal' }) }}
                {% if app.user.hasFlash('success') %}
                    <div class="alert alert-success">
                        {{ app.user.getFlash('success') }}
                    </div>
                {% endif %}
                {{ html.errorSummary(user) | raw}}
                <div class="form-group {{ user.getError('name') ? 'has-error' }}">
                    {{ C.Html.activeLabel(user, 'name', { 'class': 'col-md-2 control-label' }) }}
                    <div class="col-md-6">
                        {{ C.Html.activeTextField(user, 'name', { 'class': 'form-control' }) }}
                    </div>
                </div>
                <div class="form-group {{ user.getError('lastName') ? 'has-error' }}">
                    {{ C.Html.activeLabel(user, 'lastName', { 'class': 'col-md-2 control-label' }) }}
                    <div class="col-md-6">
                        {{ C.Html.activeTextField(user, 'lastName', { 'class': 'form-control' }) }}
                    </div>
                </div>
                <div class="form-group {{ user.getError('email') ? 'has-error' }}">
                    {{ C.Html.activeLabel(user, 'email', { 'class': 'col-md-2 control-label' }) }}
                    <div class="col-md-6">
                        {{ C.Html.activeEmailField(user, 'email', { 'class': 'form-control' }) }}
                        {% if user.email %}
                            <span class="label {{ user.emailActive ? 'label-success' : 'label-default' }}">{{ user.emailActive ? 'подтверждена' : 'не подтверждена' }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group {{ user.getError('phone') ? 'has-error' }}">
                    {{ C.Html.activeLabel(user, 'phone', { 'class': 'col-md-2 control-label' }) }}
                    <div class="col-md-6">
                        {{ C.Html.activeTelField(user, 'phone', { 'class': 'form-control' }) }}
                    </div>
                </div>
                {% if user.socialUrl %}
                    <div class="form-group">
                        {{ C.Html.activeLabel(user, 'socialUrl', { 'class': 'col-md-2 control-label' }) }}
                        <div class="col-md-6">
                            <a href="{{ user.socialUrl }}">{{ user.socialUrl }}</a>
                        </div>
                    </div>
                {% endif %}
                <div class="form-group {{ user.getError('newPassword') ? 'has-error' }}">
                    {{ C.Html.activeLabel(user, 'newPassword', { 'class': 'col-md-2 control-label' }) }}
                    <div class="col-md-6">
                        {{ C.Html.activePasswordField(user, 'newPassword', { 'class': 'form-control' }) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ C.Html.activeLabel(user, 'registerDate', { 'class': 'col-md-2 control-label' }) }}
                    <div class="col-md-6">
                       {{ user.registerDate }}
                    </div>
                </div>
                <div class="form-group {{ user.getError('role') ? 'has-error' }}">
                    {{ C.Html.activeLabel(user, 'role', { 'class': 'col-md-2 control-label' }) }}
                    <div class="col-md-6">
                        {{ C.Html.activeDropDownList(user, 'role', roles,{ 'class': 'form-control' }) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-2">
                        {{ C.Html.submitButton('Сохранить', { 'class': 'btn btn-primary' }) }}
                    </div>
                </div>
                {{ C.Html.endForm() }}
            {% endautoescape %}
        </div>
    </div>
{% endblock %}